[2021-03-02 19:03] noviicee opened #2 "Update Readme"
Add appropriate links to the Snippets section of the readme.
I would like to work on this issue.

(participant in GSSOC'21)

[2021-03-02 19:05] noviicee opened #3 "Add more files in Data Structures"
I would like to add more implementations of linear data structure in the Data Structures file.

[2021-03-04 05:17] ChetasShree opened #4 "Reverse_array python"
Hi , I want to solve this issue using python...
Please assign this issue to me under GSSOC 21 ,using python language.
Looking forward to contribute here...

[2021-03-04 06:27] akshitadixit opened #5 "Numerical algos"
Hi, I would like to work on the numerical folder in Python

[2021-03-04 06:28] akshitadixit opened #6 "Introduce machine learning Algos"
Hi, I would like to add a folder and a few algorithms for machine learning in Python

[2021-03-05 00:18] XZANATOL opened #8 "Bellman-Ford Algorithm"
I would like to work on this under the mentorship of GSSOC21.

# Details
* Code will be well commented that it describes the code flow and approach steps for the algorithm.
* Test cases will be provided at the end of the code.

[2021-03-06 14:37] ChetasShree opened #9 "GCD_LCM in python"
I want to solve this issue using python...
Please assign this issue to me under GSSOC 21, using python language.
Looking forward to contribute here...

Please check in the pull request, there under " Changed the function ", I have submitted the code.

[2021-03-06 14:37] ChetasShree commented on #4
Please check in the pull request, there under " Changed the function ", I have submitted the code.

[2021-03-08 13:15] sumitsantape30 commented on #3
I would like to add kadane's algorithm using Python. Please assign me this, I'm GSSoC21 participant.

[2021-03-08 14:43] kshittijagrawal commented on #5
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 14:44] kshittijagrawal commented on #9
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 15:05] pallavidhere23 commented on #4
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 15:33] robin025 opened #12 "All major Algorithms in python"
hey i am GSSoC 21 participant and would like to add major algorithms in python with all required documentation so i would like to work on this feature/issue

I will be adding Greedy Algorithms, backtracking, Dynamic Programming, and all remaining data structures in class based components

looking forward to your reply
thank you

[2021-03-08 15:51] srimontidutta commented on #2
Can I contribute to this project as a part of GSSoC 21?

[2021-03-08 15:51] srimontidutta commented on #6
Can I contribute to this project as a part of GSSoC 21?

[2021-03-08 16:42] HarinandhanPSGiTech commented on #9
Hey, I would love to contribute to the project. I will  put forth my best and provide the best  code I can  and hope that will help you !
I too am a GSSOC'21 participant.

[2021-03-08 17:06] simarjeet30 commented on #4
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,Cand python .Also good at DSA.
I know many ways to do it :
1)Using the reversed()/reverse() built-in function.
2)Using the slicing technique.

[2021-03-08 17:16] pallavidhere23 commented on #8
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 17:17] pallavidhere23 commented on #12
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-08 17:29] Sheetal777 opened #13 "Data Structures in Python"
Hello, I am a GSSoC'21 participant and would like to add few Python Scripts for Data Structures like Circular Linked list, Arrays/Lists, Queue, etc.

The codes will be well commented and a description would be added about what it basically does.

Looking forward to add more scripts in the repo.

[2021-03-08 17:37] pi-squared-4 commented on #9
I am a GSSOC'21 participant. I would love to work on this, can you assign this to me. <3

[2021-03-08 18:38] Dhanush2612 commented on #13
Hi I am participant at GSSOC 2021. Can you assign me this issue?

[2021-03-08 18:49] Polokghosh53 commented on #6
Can I add few algorithms like Linear Regression and others by time?

[2021-03-08 19:08] neha-b2001 opened #15 "Add String Programs in Python"
Hello, I am **Neha Binwal**, a **GSSoC 2021** participant.

There are a lot of standard String-related programs that must be covered. These range from _easy_ programs that help beginners, like...
* Reversal of a given string
* Checking if two strings are anagrams of each other

... to _more difficult_ programs, which are competitive programming favourites, such as:
* String matching/searching usin

[2021-03-08 19:25] neha-b2001 opened #16 "Add Graph Programs in Python"
Hello, I am **Neha Binwal**, a **GSSoC 2021** participant.

I have been exploring the 'graph' data structure. There are some **basic, standard graph algorithms** that every CP/DSA enthusiast should know, like:

1. Breadth First Search (BFS)
2. Depth First Search (DFS)
3. Dijkstra's Algorithm
4. Bellman-Ford Algorithm
5. Floyd-Warshall Algorithm
6. Topological Sort
7. Kruskal's and Prim's algorithm

[2021-03-09 01:39] Shreejichandra opened #17 "Questions based on Stacks"
Hello, I'm Shreeji, a GSSoC 2021 participant.

I would like to add some questions based on stacks along with their solutions.
The Python code would be clean, readable, and understandable with the necessary comments.

Please assign this issue to me. Thank you.

[2021-03-09 04:20] sanjana-coder opened #18 "Add Queue Programs in python"
Hello, I'm Sanjana, a GSSoC 2021 participant.

Aim:
Add Queue related program with solutions
Standard problems that uses Queue Implementation / Queue based algorithms

Please assign this issue to me. Thank you.

[2021-03-09 04:24] sanjana-coder opened #19 "Add Binary Tree Implementation and Standard Problems"
Hello, I'm Sanjana, a GSSoC 2021 participant.

AIM:
I would like to contribute to this repo by adding standard problems / implementations of binary tree
The Python code would be clean, readable, and understandable with the necessary comments.

Please assign this issue to me. Thank you.

[2021-03-09 06:50] kushal13112001 commented on #4
Hey, I am a GSSOC'21 participant. I would like to contribute the code of this problem statement in PYTHON language. Please assign this issue to me.

[2021-03-09 06:52] kushal13112001 commented on #17
Hey, I am a GSSOC'21 participant. I would like to contribute the code of this problem statement in PYTHON language. Please assign this issue to me. I will add various questions using stacks

[2021-03-09 06:52] kushal13112001 commented on #18
Hey, I am a GSSOC'21 participant. I would like to contribute the code of this problem statement in PYTHON language. Please assign this issue to me. I will add various questions using queues

[2021-03-09 08:43] SavneetKaur01 commented on #17
I would love to work on this issue. I am a GSSOC'21 participant and I would provide you with the best possible code. Looking forward to contribute here.

[2021-03-09 11:02] Ananya88 commented on #2
Hey !!
I am interested in this project as GSSOC '21 participant .
And I would like to to update the Readme.md file by adding :

1. How to contribute in this project. The procedure from forking to making a pull request.
2. About how to add issues and etc.
3. About the project and how it can help the community/people .

Please assign me with this issue .Thanks.

[2021-03-09 11:57] srisatya1197 commented on #19
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 15:27] kashika0112 commented on #13
I'm a GSSOC'21 Participant and would like to contribute to this issue specifically by adding questions related to arrays and sorting. I hope this issue could be assigned to me!

[2021-03-09 15:51] pallavidhere23 commented on #17
I am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-09 18:40] pallavidhere23 commented on #15
am a GSSOC'2021 participant. Please assign me this work.I am good at C++,C,Java and python.Also good at algorithm and data structures.I will write programmes with detailed explanation and proper commenting.

[2021-03-10 05:10] swarnalii opened #21 "Longest Common Substring"
Hello, I am a GSSOC'21 participant. I would like to add Longest Common Substring  in the Strings folder . Please assign this issue to me.

[2021-03-10 13:45] rcoder23 commented on #17
Hi i am mentor of this project But i am not maintainer of this project . I can't add label the issues ,@i-tick please add label in this issues .
And please add me as project maintainer so i can add label or review pull requests.

[2021-03-10 13:47] rcoder23 commented on #13
Project mentor @i-tick .please add label gssoc21 in this issues .

[2021-03-10 13:53] avishmehta68710 opened #23 "AVL Treee and BST in python and C++"
hi
i am GSSOC participant and would like to work on this issue. please assign it to me

[2021-03-10 14:14] sayantikag98 opened #24 "[GSSOC'21] Sorting algorithm implementation in python"
Hi, I am Sayantika participating in GSSOC '21. I want to implement O(n^2) and O(nlogn) sorting algorithms in python.

Please assign this task to me.

Thank you.

[2021-03-10 17:44] Pranjal-2001 commented on #24
I am a participant in GSSOC'21. I would like to work on thid issue. Could you please assign it to me?

[2021-03-11 01:01] srisatya1197 opened #25 "Add Chinese remainder theorem"
I want to add Chinese remainder theorem in python . Can I add as it's not there in the repo . If yes Could you please assign me as a part of GSSOC'21

[2021-03-11 03:41] kashika0112 commented on #24
I am a participant in GSSOC'21 and would also like to contribute to this issue. Please assign it to me!

[2021-03-11 05:29] NEERAJAP2001 opened #26 "Add LCS(Longest common Subsequence) in python"
Hello !! I'd like to contribute to this issue @i-tick, Please assign this to me.(as part of GSSOC-21)
The Python code would be clean, readable comments.

Thank you

[2021-03-11 05:36] NEERAJAP2001 opened #27 "Add Questions and Solutions on Linked-Lists"
As part of this directory - [url](https://github.com/Developer-Student-Clubs-VSSUT-Burla/Master-PyAlgo/tree/main/Topic%20Wise%20Questions%20with%20Solutions)

I would like to add some questions based on Linked-Lists along with their solutions.
The Python code would be clean with readable comments.

Please assign this issue to me as part of GSSOC-21, Thank you.

[2021-03-11 06:44] Rutuja-Kolte opened #29 "Z Algorithm"
Hello! I want to contribute to this project by adding the Z Algorithm, please assign the issue to me, I will provide a clean code along with proper documentation

[2021-03-11 11:01] ShubhamGupta577 opened #30 "Implement Sieve of Eratosthenes. (GSSOC '21)"
## Sieve of Eratosthenes
Sieve of Eratosthenes is an algorithm for finding all the prime numbers in a range of 2 to N.

### Implementation
In the beginning, we write down all numbers between 2 and N. We mark all proper multiples of 2 (since 2 is the smallest prime number) as composite. A proper multiple of a number x, is a number greater than x and divisible by x. Then we find the next number that

[2021-03-11 11:03] ShubhamGupta577 commented on #30
I want to work on this under GSSOC '21. Please assign me this.

[2021-03-11 12:25] btanisha opened #31 "Dutch national flag problem in Python (GSSOC'21)"
Please assign this issue to me.

[2021-03-11 12:29] btanisha opened #32 "Best time to buy and sell stocks problem"
Hey, I'm a GSSOC participant and I would like to include this problem along with a clean and concise code in python. The problem statement is:
"The prices of stocks over a range of days is in the form of an array. A person can buy a stock at a particular day and sell it later. When should s/he buy and sell such that there's maximum profit?"

Please assign this issue to me.

[2021-03-11 13:50] Mayankjha997 opened #33 "Backtracking (rat in the maze)"
Hello sir,
I'm a GSSOC participant and I would like to include this problem rat in the maze problem.

Please assign this issue to me.

[2021-03-11 13:51] deepshikha007 opened #34 "Adding Geometry program in python [GSSOC'21]"
Hey, I'm Deepshikha GSSOC participant.

I would like to contribute the code for the **Convex Hull Problem** using Jarvi's Algorithm.
The Python code would be clean, readable, and understandable with the necessary comments.

Please assign this issue to me.

[2021-03-11 15:56] sayantani11 commented on #13
Hi I would like to work on this issue can you please assign me this for GSSoC'21?

[2021-03-11 16:13] sayantani11 commented on #19
I am a GSSoC'21 participant and I would like to work on this issue, so kindly requesting me for assigning this issue.

[2021-03-11 16:33] SavneetKaur01 opened #35 "Image Manipulation in Python (GSSOC'21)"
I am Savneet, Gssoc'21 Participant. I want to write code to crop, trim, rotate and manipulate images with Python. My python code would be clear and understandable with the necessary comments.

Please assign this issue to me.

[2021-03-11 17:34] dikshajoshi18 opened #37 "ADD Kamenetsky’s formula for counting digits in factorial"
CAN I ADD "Count digits in a factorial" IN O(1) TIME.
it will be helpful in faster calculations.
discord: diksha#6684
@i-tick #gssoc'21

[2021-03-12 05:39] rcoder23 commented on #17
@Shreejichandra You can work on this issue.

[2021-03-12 05:48] rcoder23 commented on #18
@sanjana-coder You can work on this issues.

[2021-03-12 06:55] BeAgarwal opened #39 "Knuth–Morris–Pratt Algorithm"
### Description:

Knuth–Morris–Pratt Algorithm

Please assign this to me.

[2021-03-12 06:56] BeAgarwal opened #40 "Longest Palindromic Substring"
### Description

Longest Palindromic Substring

Please assign this to me.

[2021-03-12 06:56] BeAgarwal opened #41 "Manacher's Algorithm"
### Description

Manacher's Algorithm

#### GSSOC21
Please assign this to me.

[2021-03-12 06:57] BeAgarwal opened #42 "Lydon Factorization"
### Description

Lydon Factorization

#### GSSOC21

Please assign this to me

[2021-03-12 08:30] ANAMIKA1410 commented on #18
Hello, I'm Anamika, a GSSoC 2021 participant.
i want to contribute for this issue.

Please assign this issue to me. Thank you.

[2021-03-12 08:31] ANAMIKA1410 commented on #17
Hello, I'm Anamika, a GSSoC 2021 participant.

Aim:
Add Stack related program with solutions
Standard problems that uses stack
 Implementation / stack based algorithms

Please assign this issue to me. Thank you.

[2021-03-12 08:35] Joshitha18 commented on #21
@swarnalii  You can work on this issue

[2021-03-12 08:35] ANAMIKA1410 commented on #34
Hey, I'm Anamika, a  GSSOC participant.

I would like to contribute the code for the Problem u.
The Python code would be clean, readable, and understandable with the necessary comments.

Please assign this issue to me.

[2021-03-12 08:42] Joshitha18 commented on #24
@sayantikag98 You can work on this issue

[2021-03-12 08:44] Joshitha18 commented on #25
@srisatya1197 U can work on this issue

[2021-03-12 08:46] Joshitha18 commented on #26
@NEERAJAP2001 You can start working on this issue

[2021-03-12 08:48] Joshitha18 commented on #27
@NEERAJAP2001 mention the questions u want to add

[2021-03-12 08:50] Joshitha18 commented on #30
@ShubhamGupta577 U can work on this issue

[2021-03-12 08:52] rk05-lenavo commented on #26
I'm a GSSOC'21 participant kindly assign me this issue. I would love to work in this.

[2021-03-12 08:52] rk05-lenavo commented on #30
I'm a GSSOC'21 participant kindly assign me this issue. I would love to work in this.

[2021-03-12 08:53] rk05-lenavo commented on #25
I'm a GSSOC'21 participant kindly assign me this issue. I would love to work in this.

[2021-03-12 08:54] rk05-lenavo commented on #15
I'm a GSSOC'21 participant kindly assign me this issue. under GSSOC'21 I would love to work in this.

[2021-03-12 08:55] sayantikag98 commented on #24
Sure

[2021-03-12 08:57] Joshitha18 commented on #40
@BeAgarwal you can work on this issue

[2021-03-12 08:58] Joshitha18 commented on #26
@rk05-lenavo This issue is already assigned. You can choose or create a new issue

[2021-03-12 09:05] NEERAJAP2001 commented on #27
Here is a curated list @Joshitha18

1.Reverse a Doubly Linked List
2.Intersection Point in Y Shaped Linked Lists
3.Given a linked list of 0s, 1s and 2s, sort it

I'll add more questions once I complete these!!
Thanks

[2021-03-12 09:11] Joshitha18 commented on #27
@NEERAJAP2001 you can start working on the above 3 questions

[2021-03-12 09:12] kashika0112 opened #43 "Add Memoization Questions(GSSOC'21)"
I am a GSSOC'21 Participant. In this issue, l would like to add some memoization questions with their solutions (clean code and well documented). For now, l would like to add 2 questions of memoization-:
1. Fibonacci Series
2. Longest Increasing Subsequence

I would love to add more questions in future. Please assign this issue to me!
Thank you!

[2021-03-12 09:19] Joshitha18 commented on #43
@kashika0112 U can start working on the above 2 questions

[2021-03-12 09:27] kashika0112 commented on #43
Sure! Thank you for assigning!

[2021-03-12 11:15] pranita736 opened #46 "Prim's algorithm"
Implementation of Prim's algorithm using Python.

Please assign this issue to me.

[2021-03-12 11:22] pranita736 opened #48 "Floyd-Warshall Algorithm"
Implementation of Floyd-Warshall Algorithm using Python.

Please assign this issue to me.

[2021-03-12 11:32] pranita736 opened #49 "Dijkstra's Algorithm"
I have sent the pull request for the implementation of Dijkstra's Algorithm using Python.

Please assign this issue to me.

[2021-03-12 13:17] srisatya1197 commented on #25
@Joshitha18 thank you ma'am

[2021-03-12 13:18] srisatya1197 commented on #25
@rk05-lenavo @Joshitha18 ma'am assigned me so go for the other issue

[2021-03-12 13:19] Joshitha18 commented on #46
@pranita736 You can start working on this issue

[2021-03-12 13:42] Joshitha18 opened #50 "Discrete logarithm"
Given three integers a, b and m. Find an integer k such that a^k ≡ b(mod m) where a and m are relatively prime. If it is not possible for any k to satisfy this relation, print -1.

[2021-03-12 13:50] Joshitha18 opened #51 "Binary Search"
Given a sorted array of n elements, write a binary search algorithm to search a given element x in array.

[2021-03-12 14:00] swarnalii commented on #51
Can I work on this?

[2021-03-12 15:02] Joshitha18 commented on #51
@swarnalii u can work on this issue

[2021-03-12 15:51] ChetasShree commented on #51
Can I work on the issues??, I will solve this using the python language

[2021-03-12 16:19] OnewayShruti commented on #23
Hey
I am a GSSOC'21 participant(Discord Username -Oneway_Shruti(P)#9537)
I wish to contribute to AVL Treee and BST in python and C++ . I can write the code in C++ and also in python, along with explanatory comments.
Do consider assigning me on this.

[2021-03-12 18:18] Swetha126 opened #52 "Bubble Sort"
## Bubble Sort in Python

I would like to contribute the code for bubble sort in python with the appropriate comments and  sample test cases.
I will add the time and space complexity also.

I'm a GSSOC'21 participant.
Please assign me this issue

[2021-03-12 18:21] Swetha126 opened #53 "Selection Sort"
## Selection sort in python

I would like to contribute the code for selection sort in python with the appropriate comments and sample test cases.
I will add the time and space complexity also.

I'm a GSSOC'21 participant.
Please assign me this issue

[2021-03-12 18:21] Swetha126 opened #54 "Insertion Sort"
## Insertion sort in python

I would like to contribute the code for insertion sort in python with the appropriate comments and sample test cases.
I will add the time and space complexity also.

I'm a GSSOC'21 participant.
Please assign me this issue

[2021-03-12 18:28] ShubhamGupta577 opened #55 "Checking strings are Anagram or not. (GSSOC '21)"
### Which are **Anagram String**?
Two strings are anagrams if they are made of the same letters either arranged differently or the same. (ignoring the uppercase and lowercase
Examples -
* **Silent** and **Listen**
* **Triangle** and **Integral**
* **This is a string** and **Is this a string**

[2021-03-12 18:29] ShubhamGupta577 commented on #55
I want to work on this under GSSOC '21. Please assign me this.

[2021-03-12 18:36] Joshitha18 commented on #55
@ShubhamGupta577 u can work on it

[2021-03-12 18:38] Joshitha18 commented on #52
@Swetha126 u can work on this issue

[2021-03-12 18:43] Joshitha18 commented on #29
@Rutuja-Kolte u can work on it

[2021-03-12 18:57] sayantikag98 commented on #24
[GSSOC'21] Added Sorting algorithm implementation in python #24 #56

[2021-03-12 19:35] Swetha126 commented on #52
I have created a pull request for this issue.
Do check and let me know the changes if any.
Thank you!

[2021-03-12 19:47] eishagoel15 commented on #53
I am a Gssoc participant and I want to contribute to this issue by writing the code for this problem in python. So plz assign this issue to me.

[2021-03-12 19:48] eishagoel15 commented on #54
I am a Gssoc'21 participant and I want to contribute to this issue by writing the code for this problem in python. So plz assign this issue to me.

[2021-03-12 19:49] eishagoel15 commented on #32
I am a Gssoc'21 participant and I want to contribute to this issue by writing the code for this problem in python. So plz assign this issue to me.

[2021-03-12 23:36] Omar-Hegazi opened #58 "Stack Implementation"
I would like to add a code for stack implementation in python with proper comments and explaination as part of GSSOC'21.

[2021-03-13 03:58] rcoder23 commented on #58
@Omar-Hegazi You can work on it .

[2021-03-13 04:03] rcoder23 commented on #9
Already Solved .

[2021-03-13 04:03] #9 closed

[2021-03-13 04:03] #2 closed

[2021-03-13 04:05] rcoder23 commented on #23
@OnewayShruti This repository only containts Python Code. Create New Issue for this

[2021-03-13 04:05] #23 closed

[2021-03-13 04:52] #40 closed

[2021-03-13 04:56] Joshitha18 commented on #49
@rcoder23 check this [https://github.com/Developer-Student-Clubs-VSSUT-Burla/Master-PyAlgo/pull/20#issue-588144171](PR)

[2021-03-13 04:58] Joshitha18 commented on #49
@rcoder23 check this PR https://github.com/Developer-Student-Clubs-VSSUT-Burla/Master-PyAlgo/pull/20

[2021-03-13 05:03] Joshitha18 commented on #19
@sayantani11 Please don't make pr if the issue is not assigned to you yet.

[2021-03-13 05:10] #21 closed

[2021-03-13 05:12] #30 closed

[2021-03-13 05:25] Joshitha18 commented on #53
#24 already implemented, so closing this issue

[2021-03-13 05:25] #53 closed

[2021-03-13 05:25] Joshitha18 commented on #54
already implemented in #24 so closing this issue

[2021-03-13 05:25] #54 closed

[2021-03-13 05:40] ankan1811 opened #59 "program to check if given string is pangram or not"
Given a string, write a program to check if that string is Pangram or not. A pangram is a sentence containing every letter in the English Alphabet.
Example:
Input : The quick brown fox jumps over the lazy dog
Output : Yes

Input : abcdefgxyz
Output : No

[2021-03-13 05:41] ankan1811 commented on #59
I want work on this issue as a part of GSSoC'21.Please assign it to me.

[2021-03-13 05:42] Joshitha18 commented on #59
@ankan1811 u can work on this issue

[2021-03-13 06:02] BeAgarwal commented on #39
@Joshitha18 Assign this to me.

[2021-03-13 06:02] BeAgarwal commented on #41
@Joshitha18 Assign this to me.

[2021-03-13 06:02] BeAgarwal commented on #42
@Joshitha18 Please assign this to me

[2021-03-13 06:22] #24 closed

[2021-03-13 06:27] Joshitha18 commented on #39
@BeAgarwal there's already a PR made on KMP #22

[2021-03-13 06:57] #39 closed

[2021-03-13 10:40] AsthaDad opened #62 "String / Distinct palindromic substrings"
Given a string str of lowercase ASCII characters, Count the number of distinct continuous palindromic sub-strings which are present in the string str.

Example 1:

Input:
str = "abaaa"
Output:
5
Explanation : These are included in answer:
"a","aa","aaa","aba","b"

[2021-03-13 10:42] AsthaDad commented on #62
I would like to work on this as a part of GSSoC'21.Please assign it to me @Joshitha18

[2021-03-13 11:28] rohanbabbar04 opened #63 "Tower Of Hanoi"
The Tower of Hanoi is one of the main application of recursion. It says "if you can solve n-1 cases, then you can easily solve the nth case". Tower of Hanoi, is a mathematical puzzle which consists of three towers (pegs) and more than one rings is as depicted. These rings are of different sizes and stacked upon in an ascending order, i.e. the smaller one sits over the larger one. The problem is to

[2021-03-13 11:28] rohanbabbar04 commented on #63
Do assign me @Joshitha18

[2021-03-13 11:39] starrohan999 opened #65 "Reverse String Variation in python"
**Write a program to reverse a string with some variation.**
The reverse string is a common question but this is not a common question it has some variation in it that makes this question a special question asked by the top MNC of the world.

**input**  "i.like.open.source.contribution.very.much"

**output**  "much.very.contribution.source.open.like.i"

[2021-03-13 11:40] starrohan999 commented on #65
I want work on this issue as a part of GSSoC'21.Please assign it to me. @Joshitha18

[2021-03-13 11:41] starrohan999 commented on #65
please assign it to me.
it is my first issue if you find valid so please assign it to me.

[2021-03-13 11:41] sayantani11 commented on #63
Hi @Joshitha18 I would like to work on this issue.....Please assign me this

[2021-03-13 11:44] sayantani11 commented on #31
Hi @Joshitha18 Please assign this issue to me and I have already implemented the code and requesting you to check that

[2021-03-13 11:45] sayantani11 commented on #19
@Joshitha18 sorry for the inconvenience.....But requesting you to assign me this issue so that the code can be merged

[2021-03-13 11:49] sayantani11 opened #66 "Sieve of Eratosthenes (Implementing prime sieve)"
Sieves out elements of a given array under a given condition.

[2021-03-13 11:50] sayantani11 commented on #66
I would like to work on this and implement the prime sieve using python, please assign me this issue

[2021-03-13 11:54] sayantani11 opened #67 "Tiling problem (recursion)"
Given a board of "2 * n" and tiles of size " 2 * 1". To find the number of ways to the tile the given board.

[2021-03-13 11:54] sayantani11 commented on #67
I would like to work on this issue, please assign me this

[2021-03-13 11:57] sayantani11 opened #68 "Linked list implementation"
I can write a program in python to implement linked list, which will include insertion, deletion etc. Requesting the mentors to assign me this issue

[2021-03-13 12:01] sayantani11 opened #69 "Reversing K nodes in a linked list"
In a given linked list, we need to reverse the K nodes. Please assign me this issue, I would like to work on it.

[2021-03-13 12:30] Joshitha18 commented on #65
@starrohan999 you can work on it

[2021-03-13 12:32] mu593 opened #71 "Want to update readme"
please assign me this issue under Gssoc 2021_

add updated readme with license to his project . add maintainers pictures.

[2021-03-13 12:32] aish2002 opened #72 "Quick sort"
I can implement quick sort algorithm in Python. Kindly assign this to me as part of gssoc'21

[2021-03-13 12:36] Joshitha18 commented on #66
closing this issue as it's already implemented #30

[2021-03-13 12:36] #66 closed

[2021-03-13 12:40] Joshitha18 commented on #68
@sayantani11 This is already implemented in Data Structures. So closing the issue.

[2021-03-13 12:40] #68 closed

[2021-03-13 13:11] Joshitha18 commented on #72
already implemented #24

[2021-03-13 13:11] #72 closed

[2021-03-13 13:20] aish2002 opened #73 "Heap Sort"
I would like to implement Heap Sort in Python as part of gssoc'21.

[2021-03-13 13:23] vaishnavipatil29 opened #74 "max and min element of array"
To find maximum and minimum element of an array in python.

[2021-03-13 13:23] vaishnavipatil29 commented on #74
@Joshitha18 please assign this issue to me

[2021-03-13 13:29] riyalalwani19 commented on #55
I also want to work on it. Is it possible to assign it to me?

[2021-03-13 14:06] #74 closed

[2021-03-13 14:59] jyoti-anjaly opened #77 "Merge Sort in Python"
I would like to contribute the code for Merge sort in python with the appropriate comments and sample test cases.
I will add the time and space complexity also.

I'm a GSSOC'21 participant.
Please assign me this issue

[2021-03-13 15:06] #8 closed

[2021-03-13 15:29] Joshitha18 commented on #77
Already implemented in sorting algorithms, so closing issue

[2021-03-13 15:29] #77 closed

[2021-03-13 15:34] Joshitha18 opened #79 "Kth max and min element of an array"
Find the "Kth" max and min element of an array.

Add in Topic Wise Questions with Solutions/Array.

[2021-03-13 15:36] Joshitha18 opened #80 "Sort array of 0,1,2 without using any sorting algo"
Given an array which consists of only 0, 1 and 2. Sort the array without using any sorting algo

Add in Topic Wise Questions with Solutions/Array.

[2021-03-13 15:37] Joshitha18 opened #81 "Move all the negative elements to one side of the array"
An array contains both positive and negative numbers in random order. Rearrange the array elements so that all negative numbers appear before all positive numbers.

Add in Topic Wise Questions with Solutions/Array.

[2021-03-13 15:39] Joshitha18 opened #82 "Union and Intersection of the two sorted arrays."
Find the Union and Intersection of the two sorted arrays.

Add in Topic Wise Questions with Solutions/Array.

[2021-03-13 15:40] Joshitha18 opened #83 "Cyclically rotate an array by one"
Given an array, rotate the array by one position in clock-wise direction.

Add in Topic Wise Questions with Solutions/Array.

[2021-03-13 15:42] Joshitha18 opened #84 "Largest sum contiguous Subarray"
Given an array arr of N integers. Find the contiguous sub-array with maximum sum.

Add in Topic Wise Questions with Solutions/Array.

[2021-03-13 15:43] shivanichoudhary12 commented on #84
please assign it to me

[2021-03-13 15:47] Ashsakshi19 commented on #83
assign this to me

[2021-03-13 16:49] khareyash05 opened #86 "add contributing.md"
Hi ! I would like to create a file named contributing.md which will
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of G

[2021-03-13 17:04] Joshitha18 opened #87 "Check If a String Contains All Binary Codes of Size K"
Given a binary string s and an integer k.
Return True if every binary code of length k is a substring of s. Otherwise, return False.

[2021-03-13 17:06] prathimacode-hub commented on #15
Hey, I'm a GSSOC21 participant. I would like to work on this issue. Can you assign it to me? I have recently worked on string programs in python.

[2021-03-13 17:07] prathimacode-hub commented on #13
Hey, I'm a GSSOC21 participant. I would like to work on this issue. Can you assign it to me?

[2021-03-13 17:57] #87 closed

[2021-03-13 18:03] ShubhamGupta577 opened #89 "Implement Sieve of Atkins(GSSOC '21)"
## **Sieve of Atkin**
Sieve of Atkin is a modern algorithm for finding all prime numbers up to a specified integer. Compared with the ancient **Sieve of Eratosthenes,** which marks off multiples of primes, the **Sieve of Atkin does some preliminary work and then marks off multiples of squares of primes,** thus achieving a better theoretical asymptotic complexity.

## Key Features
As compared to ot

[2021-03-13 18:04] ShubhamGupta577 commented on #89
@Joshitha18 Please assign me this under GSSOC '21.

[2021-03-13 18:32] Swetha126 opened #90 "Check if a string is a palindrome using doubly linked list"
I would like to contribute the code to check if the given string is a palindrome or not using doubly linked list in python.
I will write the code with appropriate comments, time and space complexity and sample test cases.
I'm a GSSOC'21 participant.
Please assign me this issue

[2021-03-13 18:35] starrohan999 commented on #65
thank you so much.

[2021-03-13 18:36] Swetha126 commented on #82
I'm a GSSOC'21 participant.
I would like to contribute the code for this. Can you please assign me this issue?

[2021-03-13 18:41] starrohan999 commented on #65
so can I create a new folder or put it into a string folder?

[2021-03-13 18:41] starrohan999 commented on #65
@Joshitha18  please tell me

[2021-03-13 18:46] Joshitha18 commented on #65
Create a folder 'Reverse_String_Variation' in string folder. Add readme.txt as well explaining question with an example

[2021-03-13 18:49] starrohan999 commented on #65
ok

[2021-03-13 19:22] Swetha126 commented on #90
I have opened a pull request for this issue.
Do have a look at it and let me know the changes if any.
Thank you!

[2021-03-13 20:32] Bayesian4042 commented on #81
hey @Joshitha18 , I would like to work on this issue. is it possible to work on it ?

[2021-03-13 20:53] Joshitha18 commented on #81
@Bayesian4042 issue assigned, u can work on it

[2021-03-14 02:59] javeed3157 opened #92 "Insertion Sort"
I would like to implement Insertion Sort .
I am GSSOC'2021 participant
Please assign me this issue

[2021-03-14 03:04] javeed3157 opened #93 "Linear Search"
I would like to implement Insertion Sort .
I am GSSOC'2021 participant
Please assign me this issue

[2021-03-14 03:09] #52 closed

[2021-03-14 03:12] #49 closed

[2021-03-14 03:14] rcoder23 commented on #18
@sanjana-coder unassigned issue after 2 days of inactive.

[2021-03-14 03:15] rcoder23 commented on #18
@ANAMIKA1410 You can work on it .

[2021-03-14 03:19] #35 closed

[2021-03-14 03:21] rcoder23 commented on #48
@pranita736 Already Added .

[2021-03-14 03:21] #48 closed

[2021-03-14 04:25] akshitadixit commented on #5
@vaishnavipatil29 @BeAgarwal @i-tick

[2021-03-14 04:31] #43 closed

[2021-03-14 05:15] Joshitha18 commented on #92
@javeed3157 Insertion sort is already implemented, so closing the issue

[2021-03-14 05:15] #92 closed

[2021-03-14 05:16] Joshitha18 commented on #93
@javeed3157 u mean u want to implement linear search?

[2021-03-14 05:20] javeed3157 commented on #93
Yes LinearSearch in python

[2021-03-14 05:22] javeed3157 commented on #79
Can I solve this using (.sort) method .
If yes please assign this issue to me

[2021-03-14 05:37] Joshitha18 commented on #79
@javeed u need to implement using different approaches like using simple sort method, max-heap min heap..,

[2021-03-14 05:56] Harikrishnaa3131 commented on #93
I would like to implement binary search

[2021-03-14 05:59] Bayesian4042 commented on #80
hey @Joshitha18 I would like to work on this problem.

[2021-03-14 06:01] javeed3157 commented on #93
@Harikrishnaa3131  I think #51 is binary search

[2021-03-14 06:05] Joshitha18 commented on #80
@Bayesian4042 u can work on it. Make sure to add different ways to solve the problem

[2021-03-14 10:40] neha-b2001 opened #98 "String Searching Algorithms"
String searching or matching is a very important algorithmic concept.

I would like to implement Python programs for the following **String searching algorithms**:
- Hashing
- Rabin-Karp Algorithm

**Please consider assigning me this task, under GSSOC 2021.**

[2021-03-14 10:50] Bayesian4042 opened #101 "Various patterns questions on Binary Trees and Binary Search Tree"
Hey @Joshitha18 , I'm Abhilasha, a GSSoC 2021 participant.

I would like to work and add different pattern questions based on binary tree and binary search tree using Python.

Please let me know if I can work on it. Thanks :)

[2021-03-14 10:51] adya-13 opened #102 "[GSSoC'21] Bidirectional search in graphs"
Hello project maintainers, I would like to add this algorithm to this project. Could you please assign this to me.

[2021-03-14 10:58] Joshitha18 commented on #101
@Bayesian4042 mention the questions u want to add

[2021-03-14 11:25] Bayesian4042 commented on #101
**Binary Tree:**

1. tree traversal - inorder, preorder, postorder, level order
2. depth of binary tree
3. diameter of binary tree
4. path sum
5. horizontal distances in binary tree.

**Binary Search Tree**
1. validate binary tree
2. LCA in BST
3. Inorder successor in BST

Let me know @Joshitha18 if this is valid questions to contribute. thanks :)

[2021-03-14 11:42] mu593 opened #105 "MAX SUM OF CONTIGUOUS SUBARRAY."
I am GSSOC'2021 participant
Please assign me this issue.
I want to add code of one of most renown question.

this question is implementation of kadane's algorithm

[2021-03-14 13:11] Rutuja-Kolte commented on #29
Thanks

[2021-03-14 13:39] #26 closed

[2021-03-14 14:09] NEERAJAP2001 opened #111 "Add Factorial Trailing Zeroes Problem Under Numerical Folder."
Problem statement:  Given an integer n, return the number of trailing zeroes in n!

This problem would be implemented into this [this](https://github.com/Developer-Student-Clubs-VSSUT-Burla/Master-PyAlgo/tree/main/Numerical) folder.

I'd Like to work on this issue as a part of the GSSOC-21

[2021-03-14 18:50] GarimaKhare15 commented on #93
Hii , I'm a gssoc'21 participant . I would like to implement binary search in python .
Please assign this to me @Joshitha18 @Harikrishnaa3131 @javeed3157 @BeAgarwal @vaishnavipatil29 .

[2021-03-14 18:52] GarimaKhare15 commented on #55
Hii , I'm a gssoc'21 participant . I want to work on this issue . Please assign this to me @Joshitha18 @ShubhamGupta577 .

[2021-03-14 18:53] GarimaKhare15 commented on #51
Can I work on this issue ?

[2021-03-14 20:12] divyanshu887 opened #114 "Fast Fourier Transformation algorithm"
hello @vaishnavipatil29  @i-tick @Joshitha18 @rashrey2308
I would like to implement Python program for the Fast Fourier Transformation algorithm
Please assign me this under GSSOC '21.

[2021-03-14 21:04] simr-saini commented on #59
Worked on this issue as a part of GSSoC'21.Kindly refer.

[2021-03-15 00:58] srisatya1197 opened #119 "Folder Codechef, leetcode,etc"
Hello Sir/ma'am, I want to make a new folder in it the solutions for the respective coding platform the solutions should be written.
I'm a participant of GSSOC'21 . Please assign me this issue

[2021-03-15 01:30] Taruna1703 commented on #79
Can I take this up? Please assign this to me.

[2021-03-15 02:25] ankan1811 commented on #59
The issue is assigned to me @simr-saini .You cannot work on any issue which is not assigned to you.

[2021-03-15 02:43] javeed3157 commented on #93
@Joshitha18  in which folder should I add my code

[2021-03-15 03:58] simr-07 commented on #59
I regret the inconvenience caused. Actually I'm a newbie to open source. It was asked that you _can contribute to the project you want to_, so I wrongly did @ankan1811

[2021-03-15 04:30] Joshitha18 commented on #55
@GarimaKhare15 it's already assigned.

[2021-03-15 04:36] #65 closed

[2021-03-15 04:39] #55 closed

[2021-03-15 04:41] Joshitha18 commented on #79
@Taruna1703 u can work on it

[2021-03-15 04:42] Joshitha18 commented on #93
@GarimaKhare15 Binary Search issue is already assigned. Check for the issues that are not assigned or create new, i will assign them to you

[2021-03-15 04:43] Joshitha18 commented on #93
@javeed3157 add the file in a new folder 'Search' in Algorithms.

[2021-03-15 04:45] javeed3157 commented on #93
@Joshitha18 should I update readme file as well or  just code in  a new folder

[2021-03-15 04:57] Ritu01-git commented on #86
please assign it to me

[2021-03-15 05:03] Ritu01-git commented on #13
Hey ,I am GSSOC participant,  I would like to work on this issue , can you please assign it to me?

[2021-03-15 05:22] CyberneTech commented on #50
Hey, I would really like to work on this issue

[2021-03-15 06:31] divyanshu887 opened #120 "Number Theoretic Transform"
hello @rcoder23 @Joshitha18
I would like to implement Python program for the Number Theoretic Transform
Please assign me this under GSSOC '21.

[2021-03-15 08:26] khareyash05 commented on #86
@Ritu01-git i am a participant of GSSOC'21 and i have self created the issue
Sorry!

[2021-03-15 08:47] ankan1811 opened #122 "Check if a number is neon number or not under Numerical section"
A neon number is a number where the sum of digits of square of the number is equal to the number. The task is to check a neon number.

Input : 9
Output : Neon Number
Explanation: square is 9*9 = 81 and
sum of the digits of the square is 9.

[2021-03-15 08:47] ankan1811 commented on #122
Please assign it to me uder GSSoC'21. @Joshitha18

[2021-03-15 09:28] #119 closed

[2021-03-15 10:56] divyanshu887 opened #124 "Array Solution"
I want to work on writing solution of array question in python
can u assign me ? @Joshitha18 @rcoder23

[2021-03-15 11:06] Joshitha18 commented on #93
just code with proper comments and an example input output @javeed3157

[2021-03-15 11:07] Joshitha18 commented on #50
@CyberneTech u can work on it

[2021-03-15 11:45] Joshitha18 commented on #124
@divyanshu887 mention the questions

[2021-03-15 12:04] #58 closed

[2021-03-15 12:06] rcoder23 commented on #18
Issue closed No one participating .

[2021-03-15 12:06] #18 closed

[2021-03-15 12:09] rcoder23 commented on #98
@neha-b2001 you can work on it . Add One Solution in One pull request .

[2021-03-15 12:21] rcoder23 commented on #111
@NEERAJAP2001 You can work on it

[2021-03-15 12:23] rcoder23 commented on #105
@mu593 You can work on it.

[2021-03-15 12:27] Omar-Hegazi opened #126 "Queue Implementation"
I'd like to add code for queue implementation in python with proper comments and explanation as part of gssoc21.

[2021-03-15 12:53] srisatya1197 opened #127 "ATM code in codechef"

[2021-03-15 12:54] #127 closed

[2021-03-15 14:08] srisatya1197 opened #128 "ATM code"
I want to add ATM code in codechef it's a beginner code .My code is simple to understand . I'm a participant of GSSOC'21 please assign me this work.

[2021-03-15 14:12] #90 closed

[2021-03-15 14:15] Ritu01-git opened #129 "Solution of Array"
Find the maximum and the minimum element of the array.
please assign this issue to me, I would like to contribute in this issue.
@Joshitha18 @rcoder23

[2021-03-15 14:26] Joshitha18 commented on #129
@Ritu01-git it's already added #75 , so closing issue

[2021-03-15 14:26] #129 closed

[2021-03-15 14:35] ankan1811 opened #130 "Length of last word in a string"
Given a string s consists of some words separated by spaces, return the length of the last word in the string. If the last word does not exist, return 0.

A word is a maximal substring consisting of non-space characters only.
Input: s = "Hello World"
Output: 5

[2021-03-15 14:36] ankan1811 commented on #130
I wanty to implement this as apart of GSSoC'21.Please assign it to me. @Joshitha18

[2021-03-15 15:40] divyanshu887 commented on #124
1-find the Median of 2 sorted arrays of equal size
2-find the Median of 2 sorted arrays of different size
3-find the Minimum no. of operations required to make an array palindrome

i would like to add solution of above problems in Topic Wise Questions with Solutions/Array.
@Joshitha18

[2021-03-15 17:28] muthuannamalai12 opened #133 "Add BFS and DFS Traversal Algorithms"
Graphs are a powerful and versatile data structure that easily allows you to represent real-life relationships between different types of data (nodes). Graphs are one of the most difficult topics of data structure.
I would love to work on Breadth-First Search (BFS) and Depth-First Search (DFS) Graph traversal algorithms.

[2021-03-15 17:28] muthuannamalai12 commented on #133
@Joshitha18 Please assign me this under GSSOC '21.

[2021-03-15 17:31] muthuannamalai12 opened #134 "Add Bubble Sort"
I would love to add the implementation of bubble sort.

[2021-03-15 17:32] muthuannamalai12 commented on #133
@Joshitha18 Please assign me this under GSSOC '21.

[2021-03-15 17:32] muthuannamalai12 commented on #134
@Joshitha18 Please assign me this under GSSOC '21.

[2021-03-15 17:52] Swetha126 commented on #82
@Joshitha18 i have opened a pull request for this issue.
Do have a look at it and let me know the changes if any.
Thank you!!

[2021-03-15 18:04] Joshitha18 commented on #134
It's already implemented, closing issue

[2021-03-15 18:04] #134 closed

[2021-03-15 18:07] muthuannamalai12 opened #136 "Add Bucket Sort"
I would love to implement bucket sort

[2021-03-15 18:08] muthuannamalai12 commented on #136
@Joshitha18 Please assign me this under GSSOC '21.

[2021-03-15 18:51] Joshitha18 commented on #124
@divyanshu887 do you mean min number of merge operations in Q3?

[2021-03-15 19:00] Joshitha18 commented on #128
@srisatya1197 u can work on it. Add it in respective topic with readme file explaining question and example inputs

[2021-03-16 00:56] srisatya1197 commented on #128
Sure ma'am

[2021-03-16 02:25] rcoder23 commented on #126
@Omar-Hegazi You can work on it.

[2021-03-16 02:36] divyanshu887 commented on #124
yes @Joshitha18

[2021-03-16 02:42] #3 closed

[2021-03-16 02:43] rcoder23 commented on #4
Create New Issue . We will Assign to You . @kushal13112001 @simarjeet30 @pallavidhere23 @ChetasShree

[2021-03-16 02:43] #4 closed

[2021-03-16 02:43] #5 closed

[2021-03-16 02:45] rcoder23 commented on #71
@mu593 At present , You can only add Algorithms And datastructure.
There is no updation in Readme file.

[2021-03-16 02:45] #71 closed

[2021-03-16 02:45] rcoder23 commented on #86
@khareyash05 At present time , No one Allow To update Readme file.

[2021-03-16 02:45] #86 closed

[2021-03-16 02:48] rcoder23 opened #141 "D-Queue Implementation"
Implement D-Queue Data - structure .

[2021-03-16 03:18] khareyash05 commented on #86
@rcoder23 ok so can I create a new file?

[2021-03-16 03:43] NEERAJAP2001 commented on #27
Here are the Next 3 Questions I'll be adding once this #142 Gets Merged:
1. Add two Numbers represented by LL
2. Remove Duplicates from unsorted LL
3. Find the first bode of the loop in a LL

Thanks.

[2021-03-16 06:06] mu593 commented on #71
OK I GOT IT

On Tue, 16 Mar 2021 at 08:15, Rohit Srivastava ***@***.***>
wrote:

[2021-03-16 06:45] XZANATOL opened #145 "Calculating Sine funtion using algebra"
# Aim
* Demonestrate how scientific calculators can calculate the Sine function.
* Demonestrate how scientific calculators can deal with negative angles and angles bigger than 360 degrees.

# Details
* Math library will be added for result comparison with that's of the algorithm.
* Math library doesn't support detection of angle quadrants, I can come up with a way to make my algorithm support such

[2021-03-16 06:51] ChetasShree opened #146 "Reverse_array python"
I am a GSSoC'21 Participant. I would like to work on this issue. Please assign it to me. I will solve it in python

[2021-03-16 07:10] shivanichoudhary12 commented on #141
assign this to me

[2021-03-16 11:23] soumyavemuri opened #148 "Data Structures : Graphs, Trees and Queues"
Hello, I am a GSSoC '21 Participant.

## Description
I would like to add Graphs, Trees and Queues Implementations under the [Data Structures](https://github.com/Developer-Student-Clubs-VSSUT-Burla/Master-PyAlgo/tree/main/Data%20Structures) directory.

[2021-03-16 12:47] Joshitha18 opened #149 "Implement convex hull - Graham Scan"
Given a set of points in the plane. the convex hull of the set is the smallest convex polygon that contains all the points of it. Solve it using graham's algorithm

[2021-03-16 13:11] #34 closed

[2021-03-16 13:14] jyoti-anjaly opened #150 "Concatenation of two strings using Python"
Hey, I'm GSSOC'21 participant. I want to add code of concatenation of two strings using Python in "String" folder. I will write code will perfect comment and example.
Can you please assign me this issue under GSSOC'21?

[2021-03-16 13:16] #80 closed

[2021-03-16 14:27] sherin527 opened #151 "Implementing QuickSort algorithm"
Hi @Joshitha18 ma'am, I want to add a python script for the implementation of the Quicksort algorithm. I'm a GSSOC'21 participant pls assign this issue to me.

[2021-03-16 14:46] Ritu01-git commented on #141
I would like to work on this issue , please assign it to me.

[2021-03-16 15:02] Ritu01-git opened #152 "Spirally traversing a matrix"
I am a GSSOC participant and I would I work on this problem where user will give the number of row and column , and the matrix then the task will be Traverse the matrix in spiral form.
I would I like to work on this issue please assign it to me.

[2021-03-16 15:13] Joshitha18 commented on #151
@sherin527 it's already implemented. Please go through repo once. Closing issue

[2021-03-16 15:13] #151 closed

[2021-03-16 15:19] divyanshu887 commented on #149
i would like to work on this.
can u assign this to me @Joshitha18

[2021-03-16 15:33] sherin527 commented on #151
ok, so @Joshitha18 ma'am can I implement BFS in python, I guess that is not done yet.

[2021-03-16 16:01] XZANATOL commented on #145
@Joshitha18 can I get working on this under the mentorship of GSSOC21?

[2021-03-16 18:16] Joshitha18 commented on #151
@sherin527 yes you can, create new issue I'll assign you

[2021-03-16 18:20] #51 closed

[2021-03-16 18:35] sherin527 commented on #151
ok ma'am.

[2021-03-16 18:36] sherin527 opened #153 "Implementing BFS in python"
@Joshitha18 ma'am, I want to implement BFS, pls assign me this issue. I'm a gssoc'21 participant.

[2021-03-16 18:55] AshuKV commented on #141
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-16 19:12] aaadddiii opened #154 "house robber problem"
House robber problem is a classic dynamic programming question asked in many interviews

problem statement :

You are a professional robber planning to rob houses along a street. Each house has a certain amount of money stashed, the only constraint stopping you from robbing each of them is that adjacent houses have security systems connected and it will automatically contact the police if two adja

[2021-03-16 21:06] hrushikesh-git commented on #141
/assign

[2021-03-17 00:27] rcoder23 commented on #141
You can work on it. @shivanichoudhary12

[2021-03-17 03:20] muthuannamalai12 commented on #133
@Joshitha18 Please assign me this under GSSOC '21.

[2021-03-17 04:13] muthuannamalai12 opened #155 "Infix to Postfix Conversion"
I would love to add the implementation of Infix to Postfix conversion

[2021-03-17 04:13] muthuannamalai12 commented on #155
@Joshitha18 Please assign me this under GSSOC '21.

[2021-03-17 04:15] muthuannamalai12 opened #156 "Jump Search"
I would love to add the Jump Search Algorithm

[2021-03-17 04:15] muthuannamalai12 commented on #156
@Joshitha18 Please assign me this under GSSOC '21.

[2021-03-17 05:23] Harikrishnan6336 opened #157 "Shell Sort"
I would like to implement Shell Sort algorithm as part of GSSOC'21. Kindly assign me this issue. @Joshitha18 @rcoder23

[2021-03-17 05:45] Harikrishnan6336 opened #158 "Subset Sum Problem | Dynamic Programming"
I would like to implement Subset Sum problem in Dynamic Programming as part of GSSOC'21. Kindly assign this issue to me @Joshitha18 @rcoder23

[2021-03-17 08:29] sayantani11 opened #159 "Friends Pairing Problem (Recursion)"
Find number of ways in which n friends can remain single or pair up.

[2021-03-17 08:29] sayantani11 commented on #159
Please assign the issue to me.

[2021-03-17 08:32] sayantani11 opened #160 "Matrix Transpose (2D Arrays)"
Given a square matrix A and its number of rows (or columns) N, return the transpose of A.

[2021-03-17 08:36] sayantani11 opened #161 "Euclid Algorithm to find GCD"
Please assign this issue to me.

[2021-03-17 12:37] aaadddiii opened #162 "Climbing stairs algorithm"
climbing stairs problem is a classic dynamic programming question asked in many interviews

problem statement :
You are climbing a staircase. It takes n steps to reach the top.
Each time you can either climb 1 or 2 steps. In how many distinct ways can you climb to the top?

[2021-03-17 13:40] #6 closed

[2021-03-17 13:41] #12 closed

[2021-03-17 13:41] #13 closed

[2021-03-17 13:41] #15 closed

[2021-03-17 13:42] #16 closed

[2021-03-17 13:43] rcoder23 commented on #17
closing due to inactive

[2021-03-17 13:46] rcoder23 commented on #25
@srisatya1197 Closing issue because no one active .

[2021-03-17 13:48] rcoder23 commented on #122
@ankan1811 are you still working . ??

[2021-03-17 13:49] rcoder23 commented on #122
Close due to inactive

[2021-03-17 13:50] rcoder23 commented on #160
@sayantani11 You can work on it.

[2021-03-17 13:51] rcoder23 commented on #161
@sayantani11 You can work only one issue at time.

[2021-03-17 13:52] #159 closed

[2021-03-17 13:53] rcoder23 commented on #158
@Harikrishnan6336 You can work on it.

[2021-03-17 13:54] rcoder23 commented on #157
Work Only one issue at one time.

[2021-03-17 13:54] #157 closed

[2021-03-17 13:56] rcoder23 commented on #128
@srisatya1197 Are You still working on it.?

[2021-03-17 13:57] ankan1811 commented on #122
@rcoder23  why did you close this?
I am still working!!!
It is only 2 days...People in other projects take more than a week to solve the issue!!!

[2021-03-17 13:58] rcoder23 commented on #150
@jyoti-anjaly You can work on it.

[2021-03-17 14:05] SrishtiArya07 opened #164 "Armstrong number"
An Armstrong number is a positive integer such that the sum of the digits raised to the power of the number of digits is equal to the number itself.
Eg- 153 = 1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153

I want to add a program that checks if the user entered number is an Armstrong number or not.

As a GSSoC'21 participant, I would like to add the solution to this problem in the Python language.
Please a

[2021-03-17 14:38] aish2002 opened #167 "Wiggle Sort"
Wiggle sort is a special type of sorting wherein an array arr is reordered such that arr[0]<arr[1]>arr[2]<arr[3]...

[2021-03-17 14:41] #167 closed

[2021-03-17 14:42] aish2002 opened #168 "Wiggle Sort"
Wiggle sort is a special type of sorting wherein an array arr is reordered such that arr[0]<arr[1]>arr[2]<arr[3]...
I would like to implement this as part of GSSOC'21

[2021-03-17 14:57] srisatya1197 commented on #128
Due to assignments and college exams I didn't start but I'll submit it by tomorrow night

[2021-03-17 15:02] srisatya1197 commented on #25
@rcoder Sir I completed this issue that was 3 days ago and I also mentioned in discord channel .Please check my  pull request  #118

[2021-03-17 15:03] #73 closed

[2021-03-17 15:10] rcoder23 commented on #128
@srisatya1197 I understand.  All the best for exams

[2021-03-17 15:11] srisatya1197 commented on #128
Thank you Sir

[2021-03-17 15:51] Shreejichandra commented on #17
I added the solution of remove duplicate letters, which is using stacks.
PR #140

[2021-03-17 17:06] #93 closed

[2021-03-17 17:45] Ritu01-git opened #171 "Index Error"
In the reverse array code there was a showing the index error which is list index out of range.

[2021-03-17 17:52] Ritu01-git opened #172 "documentation"
I would like to work on the documentation of this repo .

[2021-03-17 18:50] #81 closed

[2021-03-17 19:12] neha-b2001 commented on #98
@rcoder23 I have made a PR for the Rabin-Karp algorithm (PR #174).
Since Rabin-Karp is an efficient way of string searching and already uses the concept of hashing, should I separately add a program for hashing, or just the Rabin-Karp program covers hashing as well?

[2021-03-18 09:00] Harshpatel2222 opened #177 "Fibonacci Search"
I would link to add Fibonacci search under GSSOC'21 so can you please assign it to me?

[2021-03-18 09:44] Ananya88 opened #178 "Adding sorting algorithms"
I would like to add sorting algorithms like merge sort, quick sort and insertion sort as a part of GSSOC'21 .Please assign me this issue.

[2021-03-18 11:29] rcoder23 commented on #168
@aish2002 You can work on it.

[2021-03-18 11:30] rcoder23 commented on #177
@Harshpatel2222 You can work on it.

[2021-03-18 11:31] rcoder23 commented on #178
@Ananya88 You can work on it But add one algo at time.

[2021-03-18 11:33] rcoder23 commented on #164
@SrishtiArya07 You can work on it.

[2021-03-18 11:34] rcoder23 commented on #162
@aaadddiii You can work on it.

[2021-03-18 11:38] #59 closed

[2021-03-18 14:22] Tanvie commented on #161
Please assign this issue to me, I am a GSSoC'21 aspirant.

[2021-03-18 14:42] iamansoni commented on #178
Is this issue still need to be addressed? If yes, you can assign it to me.
I would like to work on this task!

[2021-03-18 14:43] iamansoni commented on #177
Is this issue still need to be addressed? If yes, you can assign it to me.
I would like to work on this task!

[2021-03-18 14:44] Ananya88 commented on #178
Okay thanks!

[2021-03-18 16:29] srisatya1197 commented on #128
@rcoder23 Sir How do I add readme file

[2021-03-18 16:36] srisatya1197 commented on #128
@Joshitha18 ma'am could you please explain me how to add readme file . I only know to add code . Should I describe the question in my code as comment with sample test cases

[2021-03-18 16:47] sayantani11 commented on #161
I am done with the previous issue can I work on it

[2021-03-18 16:47] sayantani11 opened #184 "Wave Sort"
Implementing wave sort in python.

[2021-03-18 18:26] AsthaDad opened #186 "merge two sorted array without extra space"
I would like to add the problem : Given two sorted arrays arr1[] and arr2[] of sizes n and m in non-decreasing order. Merge them in sorted order without using any extra space.

[2021-03-19 03:25] Harshpatel2222 commented on #177
I have submitted PR.
@rcoder23  can you please check and review it?

[2021-03-19 06:43] avishkar2001 opened #188 "Implemeted Stack using Linkedlist"
https://github.com/Developer-Student-Clubs-VSSUT-Burla/Master-PyAlgo/pull/28#issue-590565671

Menu Driven Program of Stack using LinkedList.

[2021-03-19 07:30] Ananya88 commented on #178
I added insertion sort please accept the pull request @rcoder23  , so that I can proceed with adding other sorting algorithms too.

[2021-03-19 11:02] #168 closed

[2021-03-19 11:05] rcoder23 commented on #178
@Ananya88 Mention Pull request.

[2021-03-19 11:06] rcoder23 commented on #178
@Ananya88 Add Solution with proper explaination and simple test case as well .

[2021-03-19 11:11] #177 closed

[2021-03-19 11:12] rcoder23 commented on #184
@sayantani11 You can work on it.

[2021-03-19 11:14] rcoder23 commented on #141
@shivanichoudhary12 Are you still working ?

[2021-03-19 11:15] #114 closed

[2021-03-19 11:15] #120 closed

[2021-03-19 11:16] #124 closed

[2021-03-19 11:41] #158 closed

[2021-03-19 11:46] Harikrishnan6336 opened #192 "Shell Sort"
I would like to implement Shell Sort algorithm as part of GSSOC'21. Kindly assign me this issue. @Joshitha18 @rcoder23

[2021-03-19 11:47] Ananya88 commented on #178
I edited it , pull request named Added Insertion Sort #182

[2021-03-19 13:42] aaadddiii opened #193 "Knapsack problem"
knapsack problem is a classic dynamic programming question asked in many interviews

problem statement :
Given weights and values of n items, put these items in a knapsack of capacity W to get the maximum total value in the knapsack. Given two integer arrays val[0..n-1] and wt[0..n-1] which represent values and weights associated with n items respectively. Also given an integer W which represents

[2021-03-19 15:03] shivanichoudhary12 commented on #141
i have make pr already

[2021-03-19 17:15] VivanVatsa opened #195 "implementation of Graph Algorithms"
hi, as a GSSOC'21 participant, I would be implementing below listed graph algorithms:

1. Bellman-Ford Algorithm
2. Breadth-First Search
3. Brent's Algorithm for Cycle Detection
4. Depth First Search
5. Dijkstra's Algorithm
6. Floyd-Warshall Algorithm
7. Prim's Algorithm

assign this to me & i will get started with the implementation

[2021-03-20 05:37] ASLManasa opened #197 "reversing a linked list"
I am Gssoc'21 participant I want to write a code to reverse a linked list by both iterative as well as recursive It will be useful for all. I would like to work on this can you please assign it to me.Thank you.

[2021-03-20 06:03] khusheekapoor commented on #161
Hello! I am a GSSoC'21 participant. Could you please assign this issue to me?

[2021-03-20 06:54] ojaswisharma16 opened #198 "hello, i want to add a question in topic wise questions part of array ie. Write a Python program to get the length in bytes of one array item in the internal representation."

[2021-03-20 06:58] #198 closed

[2021-03-20 10:34] rohanbabbar04 opened #200 "Strong Number"
Strong number is a special number whose sum of factorial of digits is equal to the original number.

[2021-03-20 10:35] rohanbabbar04 commented on #200
Do assign it to me

[2021-03-20 10:40] #150 closed

[2021-03-20 10:43] rcoder23 commented on #128
Yes ! Describe question in code as comment with simple test cases.

[2021-03-20 10:45] rcoder23 commented on #161
@Tanvie You can work on  it.

[2021-03-20 10:53] rcoder23 commented on #195
@VivanVatsa You can work on it.

[2021-03-20 10:54] rcoder23 commented on #195
@VivanVatsa add one solution at one time.

[2021-03-20 10:57] srisatya1197 commented on #128
@rcoder23 I made a pr please review it

[2021-03-20 10:57] VivanVatsa commented on #195
yes @rcoder23
noted: will add one algorithm at a time

[2021-03-20 10:59] rcoder23 commented on #128
@srisatya1197 mention pull request no.

[2021-03-20 11:03] rcoder23 commented on #128
@srisatya1197 #194 code is correct . create new pull request only for ATM code and add ATM code soution in Topic Wise Questions with Solutions folder .

[2021-03-20 11:05] rohanbabbar04 commented on #200
Do assign it to me @rcoder23

[2021-03-20 11:07] rcoder23 commented on #200
@rohanbabbar04 you can work on it.

[2021-03-20 11:09] rcoder23 commented on #197
@ASLManasa you can work on it.

[2021-03-20 11:15] ASLManasa commented on #197
@rcoder23 ok sir

[2021-03-20 12:50] srisatya1197 commented on #128
@rcoder23 Sir  I made a folder (Codechef) and then I made another directory i.e. (beginner) init I added the ATM code Sir

[2021-03-20 12:56] srisatya1197 opened #202 "ADD Small Factorials in codechef"
I want to add small factorial code in codechef beginner level . Please assign me this issue as I'm GSSOC'21 participant

[2021-03-20 12:59] srisatya1197 opened #203 "ADD Turbo sort in codechef"
I want to add turbo sort code in codechef .Please assign this issue as a part of GSSOC'21 participant.

[2021-03-20 13:01] shivanichoudhary12 opened #204 "Strassen's algorithm"
Strassen's matrix algorithm is used for the multiplication of matrix. It is a recursive method

@rcoder23 assign it to me

[2021-03-20 13:02] srisatya1197 opened #205 "ADD fit squares in triangles code"
I want to add Fit squares in triangle  code in codechef it's a beginner code .My code is simple to understand . I'm a participant of GSSOC'21 please assign me this work.

[2021-03-20 13:43] srisatya1197 opened #206 "ADD College Life 4 code"
I want to add College life 4  code in codechef it's a beginner code .My code is simple to understand . I'm a participant of GSSOC'21 please assign me this work

[2021-03-20 18:03] rohanbabbar04 opened #208 "Automorphic Number"
A number is called Automorphic number if and only if its square ends in the same digits as the number itself.
Do assign it to me as a part of GSSOC'21 @rcoder23 @Joshitha18

[2021-03-20 19:53] starrohan999 opened #210 "Check whether a Number is Armstrong Number or Not."
A program to check whether a number Armstrong number or not.

Armstrong number is the number whose basically the addition of cube of each digit in the number is equal to the number.
example- 153{1*1*1+5*5*5+3*3*3==153}

Input:153

Output: YES

[2021-03-20 19:55] starrohan999 commented on #210
hey @rcoder23, can you please assign it to me?
I am GSSOC'21 participant.

[2021-03-21 02:33] rcoder23 commented on #200
@rohanbabbar04 Create new Pull request . Where Only add Strong Number code in Algebra folder.

[2021-03-21 02:42] #164 closed

[2021-03-21 02:43] rcoder23 commented on #210
@starrohan999 Already Present .

[2021-03-21 02:44] #210 closed

[2021-03-21 02:44] rcoder23 commented on #204
@shivanichoudhary12 You can work on it.

[2021-03-21 02:46] #141 closed

[2021-03-21 02:48] rcoder23 commented on #208
@rohanbabbar04 You can work on it.

[2021-03-21 02:49] rcoder23 commented on #205
@srisatya1197 You can work on it.

[2021-03-21 03:59] rohanbabbar04 commented on #200
@rcoder23 the PR above only contains the strong number code in the Algebra Folder
I can't understand why to make a new PR?

[2021-03-21 05:23] srisatya1197 commented on #205
Thank you Sir.

[2021-03-21 11:11] Avishake007 opened #214 "Edit Distance Problem - Dynamic Programming"
Edit Distance Problem is a dp based problem.
please assign me for this issue.
I am a gssoc'21 participant and want to contribute  on this project

[2021-03-21 15:24] Tarun-Kamboj opened #216 "Adding Selection Sort algorithm"
I would like to add the selection sort algorithm.
Please assign it to me @rcoder23 @Joshitha18

[2021-03-21 16:59] khusheekapoor commented on #208
Hello! I am a GSSoC'21 participant. I would want to work on this issue. I would be highly obliged if you could assign this to me. I will be using Java. Thanks!

[2021-03-21 16:59] khusheekapoor commented on #205
Hello! I am a GSSoC'21 participant. I would want to work on this issue. I would be highly obliged if you could assign this to me. I will be using Java. Thanks!

[2021-03-21 17:00] khusheekapoor commented on #200
Hello! I am a GSSoC'21 participant. I would want to work on this issue. I would be highly obliged if you could assign this to me. I will be using Java. Thanks!

[2021-03-21 17:28] srisatya1197 commented on #205
@khusheekapoor Thank you for showing interest . In this project only python should be used . For more info please check the respective project discord channel.

[2021-03-21 17:31] rohanbabbar04 commented on #208
@khusheekapoor this project is for only python

[2021-03-21 17:46] AsthaDad commented on #186
kindly assign me this work @rcoder23

[2021-03-21 17:52] khusheekapoor commented on #208
@rohanbabbar04 I can use Python, C and C++ too!

[2021-03-21 17:53] khusheekapoor commented on #197
Hello! I am a GSSoC'21 participant. I would want to work on this issue. I would be highly obliged if you could assign this to me. Thanks!

[2021-03-21 17:58] khusheekapoor commented on #160
Hello! I am a GSSoC'21 participant. I would want to work on this issue. I would be highly obliged if you could assign this to me. Thanks!

[2021-03-22 02:48] ASLManasa commented on #197
Sir, I have a made a pr kindly verify.

[2021-03-22 11:25] Harikrishnan6336 commented on #192
@rcoder23 Kindly assign me this issue.

[2021-03-22 13:12] rcoder23 commented on #192
@Harikrishnan6336 You can work on it.

[2021-03-22 13:17] ANAMIKA1410 commented on #216
# Python program for implementation of Selection
# Sort
import sys
A = list(map(int,input.split()))

# Traverse through all array elements
for i in range(len(A)):

    # Find the minimum element in remaining
    # unsorted array
    min_idx = i
    for j in range(i+1, len(A)):
        if A[min_idx] > A[j]:
            min_idx = j

    # Swap the found minimum element with
    # the first element

[2021-03-22 13:19] ANAMIKA1410 commented on #208
num = int(input("Enter a number \n"))

#square of num
sqr = num**2

#find number of digits in num
n = len(str(num))

#find last n digits of squar
last = sqr%pow(10,n)

if last == num:
  print("Automorphic Number")
else:
  print("Not an Automorphic Number")

[2021-03-22 13:20] ANAMIKA1410 commented on #208
@rohanbabbar04 check my code , I wrote above.

[2021-03-22 13:23] ANAMIKA1410 commented on #160
# Python program to get transpose
# elements of two dimension list
def transpose(l1, l2):

    # iterate over list l1 to the length of an item
    for i in range(len(l1[0])):
        # print(i)
        row =[]
        for item in l1:
            # appending to new list with values and index positions
            # i contains index position and item contains values
            row.append(item[i])

[2021-03-22 13:23] rcoder23 commented on #214
@Avishake007 You can work on it.

[2021-03-22 13:24] rohanbabbar04 commented on #208
@ANAMIKA1410
If you want to work on a problem do create an issue and then work on it
This problem is assigned to me so I'm sorry you can't work on it

[2021-03-22 13:25] ANAMIKA1410 commented on #161
# Python program to demonstrate Basic Euclidean Algorithm

# Function to return gcd of a and b
def gcd(a, b):
	if a == 0 :
		return b

	return gcd(b%a, a)

a = 10
b = 15
print("gcd(", a , "," , b, ") = ", gcd(a, b))

a = 35
b = 10
print("gcd(", a , "," , b, ") = ", gcd(a, b))

a = 31
b = 2
print("gcd(", a , "," , b, ") = ", gcd(a, b))

[2021-03-22 13:42] rohanbabbar04 opened #218 "Interesting XOR!"
You are given an integer C. Let d be the smallest integer such that 2^d is strictly greater than C.
Consider all pairs of non-negative integers (A,B) such that A,B<2d and A⊕B=C (⊕ denotes the bitwise XOR operation). Find the maximum value of A⋅B over all these pairs.
Constraints
1≤T≤10^5
1≤C≤10^9

This is a good level greedy problem with difficult constraints

[2021-03-22 13:42] rohanbabbar04 commented on #218
@rcoder23 Do assign this to me

[2021-03-22 14:06] debjitpal5040 opened #219 "Iterative binary search"
I saw that only recursive way of binary search algorithm was provided. I want to add iterative way of binary search algorithm too. Please assign it to me. I am a gssoc 2021 participant.

[2021-03-22 14:43] sayantani11 commented on #19
Hi @rcoder23  I still don't have response to the above request

[2021-03-22 15:09] #208 closed

[2021-03-22 15:09] #200 closed

[2021-03-23 02:47] aaadddiii opened #227 "Implement binary search tree"
Binary Search Tree is a node-based binary tree data structure . The left subtree of a node contains only nodes with keys lesser than the node's key. The right subtree of a node contains only nodes with keys greater than the node's key.

[2021-03-23 10:58] btanisha opened #229 "(GSSOC'21) Check whether 2 strings are rotations of one another"
Hi, I'm a GSSOC participant and I can write a clean and well explained python code for this problem. Please assign this to me.

[2021-03-23 13:02] Tarun-Kamboj commented on #216
Thanks for your concern but I know how to implement Selection Sort, that's why I opened the issue in the first place :)

[2021-03-23 13:06] #63 closed

[2021-03-24 04:19] #171 closed

[2021-03-24 05:20] muthuannamalai12 commented on #133
@Joshitha18 Please assign me this under GSSOC '21.

[2021-03-24 05:21] muthuannamalai12 commented on #155
@Joshitha18 Please assign me this under GSSOC '21.

[2021-03-24 05:21] muthuannamalai12 commented on #156
@Joshitha18 Please assign me this under GSSOC '21.

[2021-03-24 12:27] shweta501 opened #234 "Implement Depth First Search"
Hi I'm a GSSOC participant @rcoder23 please assign this issue to me

[2021-03-24 13:35] #192 closed

[2021-03-24 13:40] rcoder23 commented on #218
@rohanbabbar04 You can work on it.

[2021-03-24 13:41] rcoder23 commented on #234
@shweta501 You can work on it.

[2021-03-24 14:11] Harikrishnan6336 opened #235 "Painting Fence algorithm | Dynamic Programming | GSSoC'21 | Python"
I would like to implement Painting Fence algorithm as part of GSSoC'21. Kindly assign me this issue. @rcoder23  @Joshitha18.

[2021-03-24 14:35] Dhanush2612 commented on #227
@aaadddiii
Can you assign me this issue?

[2021-03-24 15:16] rohanbabbar04 opened #237 "Magic Number"
Checking whether a given number is a magic number or not.
(
A number is said to be a magic number if the sum of its digits are calculated till a single digit comes by adding the sum of digits after every addition. If single digit comes out to be 1 then the number is a magic number.
For example 1729
1+7+2+9=19
1+9=10
1+0=1
So, it comes out 1. Hence, 1729 is a magic number.
)

[2021-03-24 15:16] rohanbabbar04 commented on #237
Do assign it to me @rcoder23 @Joshitha18

[2021-03-24 16:38] sayantani11 opened #238 "Largest Rectangle in a Histogram"
Given an array. Each element represents the height of the histogram's bar and the width of each bar is 1, find the area of the largest rectangle in the histogram.

Assign to me please.

[2021-03-24 16:41] sayantani11 commented on #227
This issue is already there

[2021-03-24 16:43] sayantani11 opened #239 "Keypad phone problem"
Print all possible words from a keypad phone.

[2021-03-24 16:45] sayantani11 opened #240 "Count Sort"
Implementation of count sort using python.

[2021-03-24 16:45] sayantani11 commented on #240
Do assign to me.

[2021-03-24 16:46] sayantani11 commented on #239
Please assign to me.

[2021-03-24 16:49] sayantani11 opened #241 "Count Inversion"
Count the inversion in the given array,
Two elements a[i] and a[j] form an inversion if a[i]>a[j] and i<j

[2021-03-24 18:12] Ratnesh4193 opened #242 "Strassens-Matrix-Multiplication"
Implementing Strassens-Matrix-Multiplication Using Divide and Conqueror.

Please assign it to me. I am a gssoc 2021 participant.@rcoder23 @Joshitha18

[2021-03-24 18:33] rupal121 opened #243 "Pollard's rho algorithm"
Pollard's rho algorithm is an algorithm for integer factorization. It uses only a small amount of space, and its expected running time is proportional to the square root of the size of the smallest prime factor of the composite number being factorized.
PLEASE ASSIGN THIS ISSUE TO ME @rcoder23 @Joshitha18

[2021-03-24 20:49] aish2002 opened #244 "Tree Sort"
Sorts a list of numbers using Binary Search tree. I would like to implement this as part of gssoc'21

[2021-03-25 01:24] #89 closed

[2021-03-25 01:28] #82 closed

[2021-03-25 01:30] Joshitha18 commented on #17
@Shreejichandra I reopened issue, resolve merge conflicts in pr

[2021-03-25 01:41] #19 closed

[2021-03-25 01:53] #122 closed

[2021-03-25 02:04] #98 closed

[2021-03-25 02:35] #162 closed

[2021-03-25 02:37] #130 closed

[2021-03-25 02:42] #126 closed

[2021-03-25 02:49] #161 closed

[2021-03-25 03:37] srisatya1197 commented on #206
Please assign me this issue mentors as I'm a participate of GSSOC'21

[2021-03-25 05:02] rcoder23 commented on #237
@rohanbabbar04 You can work on it.

[2021-03-25 05:03] rcoder23 commented on #243
@rupal121 You can work on it. Add Solution with proper explanation and simple input / Output

[2021-03-25 05:04] rcoder23 commented on #242
@Ratnesh4193 You can work on it.

[2021-03-25 05:11] #218 closed

[2021-03-25 05:31] Ananya9878 commented on #240
Please assign this to me.

[2021-03-25 05:32] Ananya9878 commented on #244
Please assign this to me

[2021-03-25 05:33] Ananya9878 commented on #229
Please assign this to me.

[2021-03-25 05:33] Ananya9878 commented on #227
Please assign this to me.

[2021-03-25 05:33] Ananya9878 commented on #219
Please assign this to me.

[2021-03-25 05:33] Ananya9878 commented on #193
Please assign this to me.

[2021-03-25 05:34] Ananya9878 commented on #186
Please assign this to me.

[2021-03-25 05:35] Ananya9878 commented on #155
Please assign this to me.

[2021-03-25 05:35] Ananya9878 commented on #153
Please assign this to me.

[2021-03-25 05:35] Ananya9878 commented on #148
Please assign this to me.

[2021-03-25 05:35] Ananya9878 commented on #146
Please assign this to me.

[2021-03-25 05:35] Ananya9878 commented on #133
Please assign this to me.

[2021-03-25 06:37] JASKAMAL22 commented on #238
hello @admins ,I would like to work on it. Kindly assign it to me:)

[2021-03-25 07:34] JASKAMAL22 opened #247 "Power of Three"
Given an integer n, return true if it is a power of three. Otherwise, return false.

An integer n is a power of three, if there exists an integer x such that n == 3x.

Example 1:

Input: n = 27
Output: true
Example 2:

Input: n = 0
Output: false

Constraints:
-231 <= n <= 231 - 1

[2021-03-25 07:36] JASKAMAL22 commented on #247
Hello @rcoder23 @rashrey2308 , I want to work on it as a part of gssoc21. Kindly assign it to me :)

[2021-03-25 07:48] JASKAMAL22 opened #248 "Staircase"
This is a staircase of size :

      #
    ##
  ###
####
Its base and height are both equal to n. It is drawn using # symbols and spaces. The last line is not preceded by any spaces.

Write a program that prints a staircase of size n.

Input Format:
A single integer, n , denoting the size of the staircase.

Output Format:
Print a staircase of size n using # symbols and spaces.
Note: The last line

[2021-03-25 07:49] JASKAMAL22 opened #249 "Staircase"
This is a staircase of size 4:

      #
    ##
  ###
####

Its base and height are both equal to n. It is drawn using # symbols and spaces. The last line is not preceded by any spaces.

Write a program that prints a staircase of size n.

Input Format:
A single integer, n , denoting the size of the staircase.

Output Format:
Print a staircase of size n using # symbols and spaces.
Note: The last lin

[2021-03-25 07:50] #248 closed

[2021-03-25 07:56] simarjeet30 commented on #229
Hi, I'm a GSSOC participant and I know algorithms very well.
I can write a clean  python code for this problem.
 Please assign this to me.

[2021-03-25 08:07] JASKAMAL22 commented on #249
I would like to do it as a part of gssoc21. Kindly assign it to me!!

[2021-03-25 09:56] rohanbabbar04 opened #250 "Knuth–Morris–Pratt Algorithm"
Knuth–Morris–Pratt string-searching algorithm searches for occurrences of a "word" W within a main "text string" S

Do assign me @rcoder23 @Joshitha18

[2021-03-25 10:42] Ananya9878 commented on #154
Can you please assign this issue to me.

[2021-03-25 13:19] sayantani11 commented on #241
please assign it to me.

[2021-03-25 13:21] sayantani11 commented on #227
This issue is already done under #19 and is closed.

[2021-03-25 13:48] NEERAJAP2001 opened #251 "Add Programs into DP Folder"
Add these 3 programs into DP Folder:
1.Partion problem
Problem: https://www.geeksforgeeks.org/partition-problem-dp-18/
2.Fractional Knapsack
3.Matrix Chain Multiplication
I'd like to work on this issue as part of the GSSOC-21.

[2021-03-25 14:02] srisatya1197 commented on #206
I want to work for this issue please assign me as i'm GSSOC'21 participant

[2021-03-25 14:26] NEERAJAP2001 commented on #251
@rcoder23, @Joshitha18 please do assign this to me.

[2021-03-25 15:43] debjitpal5040 commented on #219
@rcoder23 Please consider this

[2021-03-25 15:44] debjitpal5040 opened #253 "Jump search algorithm"
Like Binary Search, Jump Search is a searching algorithm for sorted arrays. The basic idea is to check fewer elements (than linear search) by jumping ahead by fixed steps or skipping some elements in place of searching all elements. I am GSSOC 2021 participant and please assign this to me.

[2021-03-25 15:49] debjitpal5040 opened #254 "Prim's and Kruskal's Minimum Spanning Tree Algorithms"
Both Prim's and Kruskal's algorithms are used in a Graph to find a minimum spanning tree. These two are most basic yet important algorithms for finding a MST in a Graph. I would like to add these two programs in Graphs directory. Please assign this to me, I am a GSSOC participant.

[2021-03-25 16:37] jyoti-anjaly opened #255 "Remove all Fibonacci Nodes from a Circular Singly Linked List"
Hello, I'm GSSOC'21 participant. I want to add the program in Python to remove all Fibonacci Nodes from a Circular Singly Linked List.
Can you please assign this issue to me?
I will write a code with proper comments and example.

[2021-03-25 17:56] #227 closed

[2021-03-26 03:36] rcoder23 commented on #186
@AsthaDad  You can WORK ON IT.

[2021-03-26 03:37] rcoder23 commented on #247
@JASKAMAL22 You can work on it.

[2021-03-26 03:38] rcoder23 commented on #249
@JASKAMAL22 One isssue one time

[2021-03-26 04:02] JASKAMAL22 commented on #249
Hey @rcoder23 ,Please assign it to me when the previous issue #247 will get merge!

[2021-03-26 04:35] rohanbabbar04 commented on #250
Do assign me @rcoder23 @Joshitha18

[2021-03-26 09:06] srisatya1197 commented on #128
@rcoder23 Sir in topic wise questions folder I should add codechef folder in it should I add beginner folder or should I directly enter the code.

[2021-03-26 10:37] debjitpal5040 commented on #254
Hello @rcoder23 I want to work with this, please assign this to me

[2021-03-26 15:27] soumyavemuri commented on #148
@rcoder23 Could you please review this issue and let me know if it's okay to work on? I checked if such an issue already exists. I would like to add the implementation of Trees and Graphs in Python.

[2021-03-26 18:20] anjali494 opened #258 "Bilinear Search in Python"
Bilinear search is a searching algorithm where the program searches for an element from both ends. It is an improved version of linear search.

I am a GSSOC'21 participant and would like to work on this issue.

[2021-03-26 19:33] Harikrishnan6336 commented on #235
@rcoder23  Kindly assign me this issue

[2021-03-26 19:52] anjali494 commented on #258
please assign this to me @rcoder23 @Joshitha18

[2021-03-27 03:15] rcoder23 commented on #249
@JASKAMAL22 You can work on it.

[2021-03-27 03:19] rcoder23 commented on #254
@debjitpal5040 You can work on it.

[2021-03-27 03:50] #247 closed

[2021-03-27 04:04] JASKAMAL22 opened #261 "Plus Minus"
Given an array of integers, calculate the ratios of its elements that are positive, negative, and zero. Print the decimal value of each fraction on a new line with 6 places after the decimal.

Note: This challenge introduces precision problems. The test cases are scaled to six decimal places, though answers with absolute error of up to 10^-4 are acceptable.

Example:
Input:
The first line contains

[2021-03-27 04:04] JASKAMAL22 commented on #261
I would like to do it as a part of gssoc21. Kindly assign it to me! :)

[2021-03-27 05:22] aaadddiii opened #263 "Coin change algorithm"
coin change problem is a  classic dynamic programming question and is asked in many interviews .

problem statement :
Given an integer array coins representing coins of different denominations and an integer amount representing a total amount of money.
Return the fewest number of coins that make up that amount. Assume  infinite number of each kind of coin.

[2021-03-27 06:06] #111 closed

[2021-03-27 06:38] #216 closed

[2021-03-27 07:33] aish2002 commented on #244
@rcoder23 , @Joshitha18  kindly assign this issue to me

[2021-03-27 16:38] KajalSinghBAGHEL commented on #172
I am GSSOC 21 participant I am a beginner and would like to work on this issue and learn new things, please assign me.

[2021-03-28 04:41] btanisha opened #265 "Adding merge sort algorithm (GSSOC'21)"
Hey, I'm a gssoc participant, please assign this issue to me. I'll write a clean and well explained code for merge sort. @rcoder23

[2021-03-28 11:45] srisatya1197 commented on #128
@rcoder23 Sir may I know why in the world it's showing the issue, the issue must be closed after merging into the repo right?

[2021-03-28 11:57] srisatya1197 commented on #206
/assign

[2021-03-28 15:07] kashika0112 opened #266 "Addition of Keypad Combination Problem(GSSOC'21)"
Hi! I am a GSSOC'21 participant and l would like to add this problem of 'Get Keypad Combination'. The problem statement is- getting all possible combination of words based on the input number.
The code will be clean and well-documented.

Kindly assign the issue to me. Thank you!

[2021-03-29 13:35] sayantani11 opened #269 "Decimal to all other forms"
A function that would convert decimal to binary, octal and Hexadecimal.

[2021-03-30 03:32] rcoder23 commented on #258
You can work on it. @anjali494

[2021-03-30 03:39] rcoder23 commented on #235
@Harikrishnan6336 you can work on it.

[2021-03-30 03:41] rcoder23 commented on #244
@aish2002 you can work on it.

[2021-03-30 04:40] srisatya1197 commented on #206
@rcoder23 Sir assign me this issue Please Sir

[2021-03-30 04:41] srisatya1197 commented on #203
@rcoder23 Sir assign me this issue

[2021-03-30 04:55] sayantani11 commented on #184
@rcoder23 @Joshitha18 review #221 , the pr for this issue

[2021-03-30 09:20] SwarnimaShishodia opened #274 "Spiral Traversal of Matrix"
please assign this issue to me.

[2021-03-30 15:22] Omar-Hegazi opened #276 "Radix sort"
I'd like to add radix sort algorithm with comments and explanation as part of gssoc'21 @rcoder23

[2021-03-31 04:16] #237 closed

[2021-03-31 04:19] #235 closed

[2021-03-31 04:31] rohanbabbar04 commented on #250
@rcoder23 Do assign me this issue

[2021-03-31 05:46] sayantani11 commented on #265
This is already implemented

[2021-03-31 05:47] sayantani11 commented on #241
@rcoder23 please assign this to me

[2021-03-31 05:47] sayantani11 commented on #240
@rcoder23 please assign

[2021-03-31 05:53] Ananya9878 commented on #229
/assign

[2021-03-31 08:02] #255 closed

[2021-03-31 09:08] aaadddiii opened #277 "Insertion Sort"
Insertion sort is the sorting mechanism where the sorted array is built having one item at a time. The array elements are compared with each other sequentially and then arranged simultaneously in some particular order.
Hi ,
I am a GSSOC  participant , I would like to implement insertion sort in python .

[2021-04-01 02:32] rcoder23 commented on #277
@aaadddiii You can work on it.

[2021-04-01 02:34] rcoder23 commented on #265
@btanisha You can work on it.

[2021-04-01 02:36] rcoder23 commented on #274
@SwarnimaShishodia You can work on it.

[2021-04-01 02:48] #277 closed

[2021-04-01 05:16] aaadddiii opened #279 "Priority Queue"
A priority queue is an abstract data type similar to a regular queue or stack data structure in which each element additionally has a priority associated with it. In a priority queue, an element with high priority is served before an element with low priority.

Hi,
I am a gssoc participant I would like to implement priority queue .Please assign me this issue

[2021-04-01 06:26] khusheekapoor opened #280 "Sparse Matrix"
If most of the elements in a 2-Dimensional Array are 0s, then the matrix is known as a Sparse Matrix.
Please assign me this issue. @rcoder23. Thanks!

[2021-04-01 06:28] Harikrishnan6336 opened #281 "maximum sum increasing subsequence in Python | Dynamic Programming"
I would like to implement Maximum Sum Increasing Subsequence in Python as part of GssoC'21
Kindly assign me this  issue @Joshitha18  @rcoder23

[2021-04-01 07:16] IronStark007 opened #282 "Adding hash map and doubly linked list in /Data Structures"
Hello @i-tick Sir, I want to add hash map and doubly linked list in Master-PyAlgo/Data Structures
Please assign me this issue so I can work on it as soon as possible.
Thank You. :)

[2021-04-01 12:00] anirudhsai20 commented on #276
Hi! Please assign this issue to me under GSSOC.

[2021-04-01 12:10] anirudhsai20 opened #283 "Implementation of topological sort"
I will add the code for the implementation of topological sort in Python.

[2021-04-01 12:10] anirudhsai20 commented on #283
Hi! Please assign this issue to me under GSSOC.

[2021-04-01 15:20] kashika0112 commented on #266
Please check the issue @rcoder23 @Joshitha18

[2021-04-01 17:04] rohanbabbar04 commented on #250
@rashrey2308 Do assign me this issue

[2021-04-01 17:41] rashrey2308 commented on #133
Kindly be specific with the codes that you wish to add. Graph traversals is a very generic description.

[2021-04-01 17:45] rashrey2308 commented on #101
@Bayesian4042 I would suggest you to create different issues for every question that you want to add.

[2021-04-01 17:45] muthuannamalai12 commented on #133
@rashrey2308 Is it okay now??

[2021-04-01 17:49] rashrey2308 commented on #145
@XZANATOL can you please explain what you are trying to implement here?
Are you trying to implement a function that would calculate the sine value of a degree(number)?
Also what exactly do you mean by detection of angle quadrants using sine function?

[2021-04-01 17:52] rashrey2308 commented on #146
This already exists under arrays. Closing this issue.

[2021-04-01 17:52] #146 closed

[2021-04-01 17:55] Ananya9878 commented on #269
Pls assign this issue to me

[2021-04-01 17:55] Ananya9878 commented on #263
Pls assign this issue to me

[2021-04-01 17:56] rashrey2308 commented on #133
@muthuannamalai12 BFS has already been implemented and a pull request regarding the code for DFS has already been made. Kindly check for some other algorithm which is not present and create an issue for the same. Closing this issue as of now.

[2021-04-01 17:56] #133 closed

[2021-04-01 18:04] XZANATOL commented on #145
@rashrey2308 Sure,
* The script will calculate Sin(x) where X is an angle (can be in degrees or radians).

* The script will not use any external libraries. (Not going to use math library.. just pure imparative calculations)

* Appologize for the second point, I miss expressed it a bit xd.. I meant to say that the script will also be able to detect the quadrant of the angle and add a negative sign

[2021-04-01 19:37] Debashish-hub opened #284 "N queen problem"
Hello!

I want to contribute to this project with N queen problem of backtracking.

Thank you.

[2021-04-02 02:35] rcoder23 commented on #276
You can work on it,

[2021-04-02 02:36] rcoder23 commented on #280
You can work on it.

[2021-04-02 02:50] PriyanshuChatterjee opened #285 "Rat in a Maze problem"
Rat in a maze is a problem that is solved using a backtracking algorithm in graphs. Here the Rat maze problem will be solved with Python3.

I'm a GSSoc Participant and will like to work on this.

[2021-04-02 02:51] PriyanshuChatterjee commented on #285
@rcoder23 @rashrey2308 Please assign me this.

[2021-04-02 02:56] rcoder23 commented on #285
@PriyanshuChatterjee Already pull request created for that. #131

[2021-04-02 02:56] #285 closed

[2021-04-02 03:59] PriyanshuChatterjee opened #286 "Johnson’s algorithm"
The problem is to find the shortest paths between every pair of vertices in a given weighted Graph and weights may be negative. I will work on this problem and solve it using Johnson's algorithm.

I'm a GSSoC participant please assign me this issue.

[2021-04-02 03:59] PriyanshuChatterjee commented on #286
@rcoder23 please assign me this.

[2021-04-02 04:25] Yash9479 opened #287 "Jump Search Algorithm"
I want to contribute as a **GSSOC'21** Participant.
 Please assign this to me and label this issue to **GSSOC'21**.

[2021-04-02 04:28] Yash9479 opened #288 "Fibonacci Search Algorithm"
I want to contribute as a GSSOC'21 Participant. please assign this issue to me and please label it.

[2021-04-02 06:57] Harikrishnan6336 commented on #281
Kindly assign me this issue @rashrey2308

[2021-04-02 11:38] shivangi-pandey opened #290 "Backtracking problems"
Hello,
I want to work on Backtracking problems like:
-> rat in a maze
-> n queen problem
->tug of war
->sudoku solver

Please assign it me its my humble request , i want to contribute to this project

[2021-04-02 11:41] shivangi-pandey opened #291 "Backtracking (tug of war)"

[2021-04-02 15:16] ChetasShree opened #293 "Implementation of " INSERTION SORT ""
Under sorting, there is a method called insertion sort, this will return an unsorted list to a sorted list.

[2021-04-02 15:18] ChetasShree commented on #293
I am GSSoC'21 Participant. I would like to work on this issue. Please assign it to me. I will solve it in python

[2021-04-03 07:54] srisatya1197 commented on #206
@Joshitha18 ma'am please assign me this issue

[2021-04-03 07:54] srisatya1197 commented on #203
@Joshitha18 ma'am please assign me this issue

[2021-04-04 08:16] srisatya1197 opened #295 "Add Knuth–Morris–Pratt Algorithm"
I saw the issue regarding Knuth–Morris–Pratt Algorithm as this was assigned but I really don't think assignee is active . I want to work on this issue as I'm a participant of GSSOC'21 . @rcoder23 Sir or @Joshitha18 ma'am Please assign me this issue

[2021-04-04 13:33] rcoder23 commented on #286
You can work on it.

[2021-04-04 14:18] rohanbabbar04 commented on #295
@srisatya1197 this issue is already assigned to me do take up a different issue #250

[2021-04-04 14:29] srisatya1197 commented on #295
are you working on it or can I aid ?

[2021-04-04 14:33] rohanbabbar04 commented on #295
I am working on it and it is almost done

[2021-04-04 14:43] #295 closed

[2021-04-05 10:39] soumik2012 opened #296 "Minimize the jump"
## 🚀 Feature

Given an array of integers where each element represents the max number of steps that can be made forward from that element. Find the minimum number of jumps to reach the end of the array (starting from the first element). If an element is 0, then you cannot move through that element.

### Have you read the Contributing Guidelines on Pull Requests?

Yes, I have read it.

## Motivatio

[2021-04-05 11:53] debjitpal5040 opened #297 "Dijkstra's shortest path algoritm"
I want to add Dijsktra's shortest path algorithms for graphs. This is a very useful and popular algorithm to find the shortest distance between two nodes of a graph. Please assign this to me. I am a GSSOC 21 participant.

[2021-04-05 11:54] #253 closed

[2021-04-05 11:55] #219 closed

[2021-04-05 13:10] aaadddiii opened #298 "Implementation of prefix sum array"
Prefix Sum array is a data structure design which helps us to answer several queries such as sum in a given range in constant time which would otherwise take linear time. It requires a linear time preprocessing and is widely used due to its simplicity and effectiveness
Given an array arr[] of size n, its prefix sum array is an array of same size such that the value of prefixSumArray[i] is arr[0] +

[2021-04-06 06:45] PriyanshuChatterjee commented on #286
@rcoder23 is labelling this issue level 0 the right move? I'm adding a new script not doing any documentation upgrade or script upgrade. According to the predefined label list this issue should be level 3 or level 2.

[2021-04-06 07:15] shikha-16 opened #300 "Implementation of RRT Algorithm"
Rapidly-exploring Random Trees for Robot Path Planning
A robot is attempting to navigate its path from the start point to a specified goal region, while avoiding the set of all obstacles.

In RRT, points are randomly generated within a specified radius and connected to the nearest existing node. Each time a node is created, we check that it lies outside of the obstacles. Furthermore, chaining the

[2021-04-06 07:52] debjitpal5040 commented on #297
Hey @rcoder23 please review this.

[2021-04-06 13:33] #276 closed

[2021-04-06 14:11] Fatema110 opened #301 "A* Algorithm"
You will be given 2 Dimensional array containing 0s and 1s where each 0 represents free space and each 1 represents an obstacle. Consider this array as a grid-shaped graph. you're given 4 integers StartRow, StartCol, endRow, and endCol, representing the position of a start node and an end node in the graph.

Write a function that finds the shortest path between the start node and the end node usin

[2021-04-06 14:12] Fatema110 commented on #301
@rcoder23 please assign me this.

[2021-04-07 03:46] soumik2012 commented on #296
@rcoder23 please assign me the issue

[2021-04-07 13:48] soumik2012 commented on #296
@sayantani11 Please review my PR

[2021-04-07 17:39] saidrishya opened #305 "Roman to Integer and Integer to Roman"
Hello I am a GSSOC 2021 participant and I want to work on the above two algorithms. Kindly assign them to me.
Thank you.

[2021-04-07 17:42] saidrishya opened #306 "Merge two linked list and rotate linked list"
Hello, I am GSSOC 2021 participant and I want to work on the above two problems for linked list section. Kindly assign them to me.
Thank you.

[2021-04-08 06:13] shikha-16 commented on #300
@rcoder23 please assign me this

[2021-04-08 06:14] #251 closed

[2021-04-08 15:58] soumik2012 commented on #296
@rcoder23  please check my PR

[2021-04-08 18:42] sayantani11 commented on #241
@rcoder23 @Joshitha18 please assign the issue to me

[2021-04-08 18:43] sayantani11 commented on #240
@rcoder23 @Joshitha18

[2021-04-09 10:17] rcoder23 commented on #301
@Fatema110 You can work on it.
Add solution with proper comments in Proper Folder

[2021-04-09 10:18] rcoder23 commented on #300
@shikha-16 You can work on it.
Add solution with proper comments

[2021-04-09 10:19] rcoder23 commented on #297
@debjitpal5040 You can work on it,

[2021-04-09 12:06] shikha-16 commented on #300
@rcoder23 Please assign this as a Level 3 issue, since I am adding a new algorithm.
According to the rules it is -
Minor Documentation (level 0)
Major Documentation (level 1)
Bug fixing, adding small features. (level 2)
New features, major bug fixing. (level 3)

[2021-04-09 12:07] rcoder23 commented on #300
Let me check

[2021-04-09 15:13] srisatya1197 opened #308 "Improve readme file"
I want to improve readme file with significant abstract and wherever logos are required I will do it along with it at the bottom of readme file I will add contributors that will update according to the contributions with respect to the contributors. Sir/ma'am please assign me this issue.

[2021-04-09 18:53] RohiniRG opened #309 "Reversing a linked list in groups"
This python code will cover the reversal of a linked list in groups of K elements.
I am a GSSOC'21 participant.

[2021-04-09 18:54] RohiniRG opened #310 "Detecting loops within a linked list"
This python code will be able to detect loops and even self-loops forming within the nodes of a linked list.
I am a GSSOC'21 participant

[2021-04-09 19:00] iamakkkhil opened #311 "Sum of Linked List"
The python script will be able to calculate the sume of all the numbers in a linked list.

Please assign this to me. I am a Gssoc participant.

[2021-04-09 19:02] iamakkkhil opened #312 "Split Circular Linked List"
The code will show the implementation of the function of splitting a circular linked list in 2 halves.

I am a gssoc participant, please assign this issue to me.

[2021-04-09 19:06] iamakkkhil opened #313 "Delete middle element"
The code will cover the deletion of the middle element of a linked list.

I am a Gssoc'21 participant and would like to work on this issue.

[2021-04-09 19:09] RohiniRG opened #314 "Pairwise swapping"
The code will cover the swapping of every two elements within a linked list in python.

I am a GSSoC'21 participant.

[2021-04-10 07:21] debjitpal5040 opened #316 "Count total number of divisors of a number"
I want to implement a python program which will find out total number of divisors of a number. I am a GSSOC 21 participant. Please assign this to me.

[2021-04-10 09:45] ShrutiOmer opened #318 "Fibonacci Number"
I want to create a python program that tells a given number is fibonacci number or not in the Algebra section.
Please assign this issue to me.

[2021-04-10 14:08] rohanbabbar04 opened #319 "Add a Contributing.md"
Adding a Contributing.md to help newcomers on how to contribute to the project.
This is a major documentation.
Do assign me @rcoder23 @rashrey2308 @Joshitha18

[2021-04-11 14:12] #101 closed

[2021-04-11 14:22] rashrey2308 commented on #148
@soumyavemuri an implementation of BST is already there in the repository.

[2021-04-11 14:28] rashrey2308 commented on #152
Can you give an example of the input and output of this question? @Ritu01-git

[2021-04-11 14:29] rashrey2308 commented on #153
This already exists in the repository.

[2021-04-11 14:29] #153 closed

[2021-04-11 14:33] rashrey2308 commented on #154
@aaadddiii do you wanna work on this or should I assign it to @Ananya9878 ?

[2021-04-11 14:56] rashrey2308 commented on #172
Can you specify what exactly do you intend to do ?

[2021-04-11 15:11] atharvaze opened #320 "floyds cycle detection algorithm"
A python script that runs Floyd's cycle detection algorithm for an array, LinkedList and a graph in linear time and space. Please assign me this issue. Im a gssoc participant.

[2021-04-11 15:53] rashrey2308 commented on #193
Assigning it to @Ananya9878

[2021-04-11 15:55] rashrey2308 commented on #202
Please provide a link to the question for clarity.

[2021-04-11 16:01] aaadddiii commented on #154
@rashrey2308  you can assign it to @Ananya9878

[2021-04-11 16:02] rashrey2308 commented on #203
Kindly specify the link of the question

[2021-04-11 16:19] srisatya1197 commented on #203
Thank you for the suggestion. Are you a participant or a mentor?

[2021-04-11 16:20] srisatya1197 commented on #203
ok ma'am.

[2021-04-11 16:23] srisatya1197 commented on #203
Question: Given the list of numbers, you are to sort them in non decreasing order.
    Input:
    t – the number of numbers in list, then t lines follow [t <= 10^6].
    Each line contains one integer: N [0 <= N <= 10^6]

   Output:
    Output given numbers in non decreasing order.

  Example:
Input:
5
5
3
6
7
1
Output:
1
3
5
6
7

[2021-04-11 16:24] srisatya1197 commented on #202
I want to close this issue it's so simple for anyone to answer

[2021-04-11 16:24] #202 closed

[2021-04-11 16:27] srisatya1197 commented on #206
Question:
Chef and N−1 more of his friends go to the night canteen. The canteen serves only three items (well, they serve more, but only these three are edible!), which are omelette, chocolate milkshake, and chocolate cake. Their prices are A, B and C respectively.

However, the canteen is about to run out of some ingredients. In particular, they only have E eggs and H chocolate bars left. They ne

[2021-04-11 16:42] rashrey2308 commented on #203
@srisatya1197 I need the link to the question. Not just what the question is. There are various sorting techniques and many of them already exist in the repository. i need to check before assigning the issue to you.

[2021-04-11 16:53] srisatya1197 commented on #203
ma'am here is the link https://www.codechef.com/problems/TSORT

[2021-04-11 17:13] srisatya1197 opened #322 "Add Kfib codechef program"
I want to add the Kfib program in codechef directory.
Link : https://www.codechef.com/problems/KFIB
Please assign me this issue @rashrey2308 ma'am.

[2021-04-11 17:28] srisatya1197 opened #323 "Add convert the string codechef program"
I want to add convert the string program in codechef directory.
Link for the program : https://www.codechef.com/problems/CONVSTR
Please assign me this issue @rashrey2308 ma'am

[2021-04-11 20:14] ShubhamGupta577 opened #324 "Checking number is happy number or not"
### What is a happy number

Starting with any positive integer, replace the number with the sum of the squares of its digits.
Repeat the process until the number equals 1 (where it will stay), or it loops endlessly in a cycle which does not include 1.
Those numbers for which this process ends in 1 are happy number.

### Example
19 is Happy Number,
1^2 + 9^2 = 82
8^2 + 2^2 = 68
6^2 + 8^2 = 100
1^2

[2021-04-12 08:39] soumyavemuri commented on #148
May I implement graphs @rashrey2308 ?

[2021-04-12 19:24] ShubhamGupta577 commented on #324
@rcoder23 I want to work on this issue under GSSOC'21. So please review this issue and assign it to me.

[2021-04-13 15:53] rashrey2308 commented on #203
There is nothing unique in this question. Any normal sort can be applied. Closing this issue.

[2021-04-13 15:53] #203 closed

[2021-04-13 16:08] rashrey2308 commented on #239
Please elaborate

[2021-04-13 16:11] srisatya1197 commented on #322
@rashrey2308 Please assign me this issue

[2021-04-13 16:12] srisatya1197 commented on #323
@rcoder23 @rashrey2308 @Joshitha18 assign me this issue.

[2021-04-13 16:16] rashrey2308 commented on #269
@sayantani11 do you wanna be assigned or should I assign it to ananya?

[2021-04-13 16:20] rashrey2308 commented on #281
This is already present in the repository. [https://github.com/Developer-Student-Clubs-VSSUT-Burla/Master-PyAlgo/blob/748893364eb30bf3e62b8333e7df6f4d6ad88e87/Dynamic%20Programming/Longest_Increasing_Subsequence_Length.py](Refer to this link)

[2021-04-13 16:21] rashrey2308 commented on #281
Already present in the repository. Check under Dynamic Programming folder.

[2021-04-13 16:24] Harikrishnan6336 commented on #281
@rashrey2308  I was not able to find this algorithm in the Dynamic Programming folder. The longest length increasing sequence and this are different problems.

[2021-04-13 16:30] rashrey2308 commented on #281
Okay then specify your question with some input and output.

[2021-04-13 16:54] Inventor77 commented on #188
@avishkar2001 @Bayesian4042 @aaadddiii @BeAgarwal @vaishnavipatil29  #28 (I would love to work on this problem)

[2021-04-14 06:58] sayantani11 commented on #269
Assign to Ananya @rashrey2308

[2021-04-14 07:00] sayantani11 commented on #239
@rashrey2308  Using the concept the recursion we will try printing all possible words that can be formed by the old keypad phones like for example Nokia......Basically an advanced permutation question that uses recursion

[2021-04-14 07:11] sayantani11 commented on #241
@rashrey2308  assign pleasee

[2021-04-14 07:12] sayantani11 commented on #240
@rashrey2308 assign this to me please

[2021-04-14 07:16] sayantani11 opened #328 "N - Knights Problem"
Given an N*M chessboard. The task is to find the maximum number of knights that can be placed on the given chessboard such that no knight attack some other knight.

A knight moves 2 steps forward and then 1 step sideways.

[2021-04-14 07:17] sayantani11 commented on #328
@rashrey2308 Please assign this issue to me.

[2021-04-15 15:21] saidrishya commented on #305
/assign

[2021-04-15 16:10] sayantani11 commented on #241
@rashrey2308  Please assign me this issue

[2021-04-15 18:08] Harikrishnan6336 commented on #281
@rashrey2308  Maximum Sum increasing Subsequence

Given an array of n positive integers. We have to find the sum of maximum sum subsequence of the given array such that the integers in the subsequence are in increasing order.

For Example
For Input {3, 4, 5, 10}
Output is 3 + 4 + 5 + 10 = 22, as (3, 4, 5, 10) form an increasing subsequence.

For Input {5, 4, 3, 2, 1}
Output is 5, as 5 alone is the

[2021-04-16 06:33] ShrutiOmer opened #335 "Pronic Numbers"
I want to add pronic number program which generates all pronic numbers in given range.
A pronic number is a number which is the product of two consecutive integers, that is, a number of the form n(n + 1). The first few pronic numbers are: 0, 2, 6, 12, 20, 30, 42, 56, etc.

Please assign this issue to me.

[2021-04-16 07:23] ASLManasa opened #336 "Merge Without Extra Space"
problem  : Given two sorted arrays arr1[] and arr2[] of sizes n and m in non-decreasing order. Merge them in sorted order without using any extra space. Modify arr1 so that it contains the first N elements and modify arr2 so that it contains the last M elements.

I have taken this problem from geeksforgeeks. I am a gssoc'21 particpant and I want to contribute to this. Kindly assign me this.

[2021-04-16 11:39] iaditichine opened #337 "Sorting an array of 0's and 1's"
Given an array of length n consisting of only 0s and 1s in random order.Output of the array should be such that 0's should be on left-side and 1's on right-side.
Eg: n=4
array[]=0 1 0 1
output:0 0 1 1

[2021-04-17 03:29] rcoder23 commented on #336
@ASLManasa already present in Master-PyAlgo/Topic Wise Questions with Solutions/Array/

[2021-04-17 03:29] #336 closed

[2021-04-17 03:32] rcoder23 commented on #310
@RohiniRG You can work on it.

[2021-04-17 03:33] rcoder23 commented on #310
Add solution in Master-PyAlgo/Topic Wise Questions with Solutions/Linked List/  folder .

[2021-04-17 03:35] rcoder23 commented on #309
One issue at one time .

[2021-04-17 03:35] #309 closed

[2021-04-17 03:36] rcoder23 commented on #308
At present Only project maintainer allow to make changes in Readme.md file .

[2021-04-17 03:36] #308 closed

[2021-04-17 03:36] rcoder23 commented on #306
@saidrishya You can work on it.
Add one solution at one time .

[2021-04-17 03:37] rcoder23 commented on #306
at solution in  Master-PyAlgo/Topic Wise Questions with Solutions/Linked List/   folder

[2021-04-17 03:39] #25 closed

[2021-04-17 03:40] rcoder23 commented on #29
Closing due to inactive

[2021-04-17 03:40] #29 closed

[2021-04-17 03:40] #31 closed

[2021-04-17 03:41] rcoder23 commented on #33
Closing due to inactive

[2021-04-17 03:41] #33 closed

[2021-04-17 03:41] rcoder23 commented on #37
Closing due to inactive.

[2021-04-17 03:41] #37 closed

[2021-04-17 03:43] rcoder23 commented on #41
closing due to inactive .

[2021-04-17 03:43] #41 closed

[2021-04-17 03:44] rcoder23 commented on #42
Closing due to inactive

[2021-04-17 03:44] #42 closed

[2021-04-17 03:45] rcoder23 commented on #46
inactive and some one already added solution.

[2021-04-17 03:45] #46 closed

[2021-04-17 03:46] #62 closed

[2021-04-17 03:46] #67 closed

[2021-04-17 03:46] rcoder23 commented on #69
Closing due to inactive

[2021-04-17 03:46] #69 closed

[2021-04-17 03:47] rcoder23 commented on #83
Closing due to inactive.

[2021-04-17 03:47] #83 closed

[2021-04-17 03:48] rcoder23 commented on #102
Closing due to inactive

[2021-04-17 03:48] #102 closed

[2021-04-17 03:49] rcoder23 commented on #105
Closing due to inactive

[2021-04-17 03:49] #105 closed

[2021-04-17 03:49] #128 closed

[2021-04-17 03:59] rcoder23 commented on #316
@debjitpal5040 You can work on it.

[2021-04-17 04:05] srisatya1197 commented on #323
@rcoder23 Sir can you please assign me this issue?

[2021-04-17 04:06] srisatya1197 commented on #322
@rcoder23 Sir can you please assign me this issue?

[2021-04-17 04:12] rcoder23 commented on #323
add question releated to some data -structures . and mostly asked

[2021-04-17 04:12] #323 closed

[2021-04-17 08:30] srisatya1197 opened #338 "Add climbing staircase"

[2021-04-17 08:32] srisatya1197 opened #339 "Add count IP addresses."
An IP Address (IPv4) consists of 4 numbers which are all between 0 and 255.
In this problem however, we are dealing with 'Extended IP Addresses' which consist of K such numbers.
Given a string S containing only digits and a number K,
your task is to count how many valid 'Extended IP Addresses' can be formed.
An Extended IP Address is valid if:
* it consists of exactly K numbers
* each numbers is b

[2021-04-17 08:36] #338 closed

[2021-04-17 08:37] dikshajoshi18 commented on #37
I hve already added pr

On Sat, 17 Apr, 2021, 9:12 AM Rohit Srivastava, ***@***.***>
wrote:

[2021-04-17 08:40] srisatya1197 opened #340 "Add remove element in linked list directory in topic wise."
Given a linked list nums and a value val, remove all instances of that value in-place and return the new linked list.
Do not allocate extra space for another linked list, you must do this by modifying the input linked list in-place with O(1) extra memory.
Input: 3 -> 2 -> 2 -> 3
Output: 2 -> 2
Input: 0 -> 1 -> 2 -> 2 -> 3 -> 0 -> 4 -> 2
Output: 0 -> 1 -> 3 -> 0 -> 4
@rcoder23 Sir can you please ch

[2021-04-17 08:42] srisatya1197 opened #341 "Add two numbers in linkedlist directory."
You are given two non-empty linked lists representing two non-negative integers.
The digits are stored in reverse order and each of their nodes contain a single digit.
Add the two numbers and return it as a linked list.
You may assume the two numbers do not contain any leading zero, except the number 0 itself.
Input: 2 -> 4 -> 3, 5 -> 6 -> 4
Output: 7 -> 0 -> 8
Output explanation: 342 + 465 = 807

[2021-04-17 08:44] srisatya1197 opened #342 "Add Maximum Difference Sub-Linked List"
Given a linked list of integers, find and return the sub-linked list of k consecutive elements where
the difference between the smallest element and the largest element is the largest possible.
If there are several sub-linked lists of k elements in items so that all these sub-linked list have
the same largest possible difference, return the sub-linked list that occurs first.
Input: 42 -> 17 -> 99

[2021-04-17 08:54] #322 closed

[2021-04-17 09:26] Avantika782 opened #343 "Minimum Swaps for Bracket Balancing"
We are given a string of 2N characters consisting of N ‘[‘ brackets and N ‘]’ brackets. A string is considered balanced if it can be represented in the for S2[S1] where S1 and S2 are balanced strings. We can make an unbalanced string balanced by swapping adjacent characters. Calculate the minimum number of swaps necessary to make a string balanced.
For example:
Input  : []][][
Output : 2
First swa

[2021-04-18 03:30] rcoder23 commented on #340
You can work on it,  @srisatya1197 Add solution with proper explaination

[2021-04-18 03:31] rcoder23 commented on #341
One issue at time.

[2021-04-18 03:31] #341 closed

[2021-04-18 03:31] #339 closed

[2021-04-18 03:34] rcoder23 commented on #241
@sayantani11 You can work on it.

[2021-04-18 03:45] srisatya1197 commented on #340
Sure Sir.

[2021-04-18 03:49] srisatya1197 commented on #339
@rcoder23 I didn't understand why did you close this issue?

[2021-04-18 03:57] srisatya1197 commented on #341
@rcoder23  Can I get the explanation for closing this issue. So that I will not repeat it.

[2021-04-18 04:02] abirbhattacharya82 commented on #337
Hello I would like to contribute to your Repository and solve this Issue. Can you please assign it to me? Also in which folder should I keep the code required to solve this Issue?

[2021-04-18 10:41] Avantika782 opened #346 "Reversing a Linked List in groups of given size"
Given a linked list and a number k, write a function to reverse every k nodes.
Input: 1->2->3->4->5->6->7->8->NULL, K = 3
Output: 3->2->1->6->5->4->8->7->NULL
Input: 1->2->3->4->5->6->7->8->NULL, K = 5
Output: 5->4->3->2->1->8->7->6->NULL
@rcoder23 Sir can you please check this question if it's ok, then, I'll solve and keep it in a suitable directory.

[2021-04-18 16:22] Omar-Hegazi opened #347 "Kosaraju's algorithm for Strong Connected Components"
I'd like to add code for Kosaraju's algorithm for Strong Connected Components in python with proper comments and explanation

@rcoder23

[2021-04-18 16:59] RohiniRG commented on #310
@rcoder23 have a look

[2021-04-19 05:51] soumik2012 commented on #296
@rcoder23 I believed this is a level2 question If you don't trust me this is the medium level of question gfg and leetcode
![Screenshot_20210415_174844](https://user-images.githubusercontent.com/66599363/114868070-278c3780-9e13-11eb-8d1d-dc33c829d323.jpg)
Here!

[2021-04-19 07:22] darpankhanna commented on #318
Please assignn me this issue

[2021-04-19 09:24] #319 closed

[2021-04-20 06:49] soumik2012 opened #350 "Rearrange array in alternating positive & negative items in python"
## 🚀 Feature

Given an array of positive and negative numbers, arrange them in an alternate fashion such that every positive number is followed by negative and vice-versa maintaining the order of appearance.
A number of positive and negative numbers need not be equal. If there are more positive numbers they appear at the end of the array. If there are more negative numbers, they too appear in the

[2021-04-21 05:07] #316 closed

[2021-04-21 05:49] #296 closed

[2021-04-21 06:11] soumik2012 commented on #350
@sayantani11, please review my Issue

[2021-04-21 06:12] #297 closed

[2021-04-21 06:13] #254 closed

[2021-04-21 08:58] sayantani11 commented on #240
@rcoder23 please assign this to me

[2021-04-21 09:13] sayantani11 commented on #160
@rcoder23 I guess you can close the issue

[2021-04-21 09:14] sayantani11 commented on #184
@rcoder23 I think this issue can now be closed

[2021-04-21 09:14] sayantani11 commented on #238
@rcoder23 I guess this issue can be closed

[2021-04-21 09:16] sayantani11 commented on #241
@rcoder23 I think this issue can be closed now

[2021-04-21 16:07] #160 closed

[2021-04-21 16:08] #184 closed

[2021-04-21 16:08] #238 closed

[2021-04-21 16:09] #241 closed

[2021-04-21 18:49] saidrishya commented on #306
made a pr for merging linked lists.

[2021-04-22 05:10] sandra9711 opened #354 "Check doubly linked list palindrome"
Check if a doubly-linked list of characters is palindrome or not.

[2021-04-22 14:36] Fatema110 opened #355 "Topological Sort"
You're given a list of arbitrary jobs that need to be completed. These jobs are in form of distinct integer numbers. You're also given a list of dependencies.A dependency is represented as a pair of job where the first job is a prerequisite of second job i.e. the second job is dependent on first one, it can only be completed once the first job is completed .

Write a function that takes a list of

[2021-04-22 14:37] Fatema110 commented on #355
@rcoder23 please assign me this.

[2021-04-23 06:17] soumik2012 opened #356 "Find if there is a subarray with 0 sum in python"
## 🚀 Feature

Given an array of positive and negative numbers, find if there is a subarray (of size at-least one) with 0 sum.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

To contribute to GSSOC'21

## Pitch

Input: {4, 2, -3, 1, 6}
Output: true
Explanation:
There

[2021-04-23 11:28] rcoder23 commented on #281
@rashrey2308 Look on this.

[2021-04-23 11:30] rcoder23 commented on #355
@Fatema110 You can work on it

[2021-04-23 11:32] rcoder23 commented on #335
@ShrutiOmer You can work on it.

[2021-04-23 11:34] rcoder23 commented on #318
already present .

[2021-04-23 11:34] #318 closed

[2021-04-23 11:35] rcoder23 commented on #324
@ShubhamGupta577 You can work on it.

[2021-04-23 11:40] rcoder23 commented on #350
@soumik2012 You can work on it.

[2021-04-23 11:41] #350 closed

[2021-04-23 11:41] rcoder23 commented on #350
merged .

[2021-04-23 12:18] soumik2012 commented on #356
@rcoder23 please assign me the issue

[2021-04-23 14:04] ShrutiOmer opened #358 "Longest prefix sufix"
I want to add a program which will give the longest proper prefix which is proper suffix also in the string.
Ex-abab: length is 2 as ab is proper prefix and suffix
     aaaa: length is 3 as aaa is proper prefix and suffix

Please assign me this issue.

[2021-04-23 17:00] ASLManasa opened #360 "One Away"
There are three types of edits that can be performed on strings: insert a character,
remove a character, or replace a character. Given two strings, write a function to check if they are
one edit (or zero edits) away

I am a gssoc'21 participant and want to work on this kindly assign me this . Thanks.

[2021-04-23 17:32] darpankhanna commented on #311
please assign this issue to me @vaishnavipatil29

[2021-04-23 17:46] darpankhanna commented on #311
@rcoder23 please assign me this issue

[2021-04-23 17:51] iamakkkhil commented on #311
I am already waiting for the same here by creating this issue.

[2021-04-23 17:51] iamakkkhil commented on #311
@rcoder23 can you assign me the same

[2021-04-23 18:56] ShubhamGupta577 opened #362 "Finding Longest Consecutive Subsequence in a array"
## Longest consecutive subsequence in array
Given an array of positive integers. Finding the length of the longest sub-sequence such that elements in the subsequence are consecutive integers,
The consecutive numbers can be in any order.
## Example:
Input: {2,6,1,9,4,5,3}
Output: 6
Explanation:
The consecutive numbers here
are 1, 2, 3, 4, 5, 6.
These 6 numbers form the longest consecutive subsequen

[2021-04-23 18:56] ShubhamGupta577 commented on #362
@rcoder23, Please assign me this issue under GSSOC21.

[2021-04-23 19:11] ShubhamGupta577 opened #363 "Implementing Z algorithm"
## Z algorithm
Z algorithm is a linear time string matching algorithm. It is used to find all occurrences of a pattern in a string, which is a common string searching problem.

@rcoder23, Under GSSOC21 I would like to contribute to this issue so please assign me this issue.

[2021-04-24 05:00] sayantani11 commented on #328
@rcoder23 please assign

[2021-04-24 05:01] sayantani11 commented on #240
@rcoder23 please assign

[2021-04-24 05:32] anirudhsai20 commented on #293
Hi ! Please assign this to me.

[2021-04-24 05:39] anirudhsai20 opened #364 "Implementation of exponential search and interpolation search"
I will implement exponential search and interpolation search algorithms in Python.

[2021-04-24 05:39] anirudhsai20 commented on #364
Hi! Please assign this issue to me under GSSOC.

[2021-04-24 15:26] Fatema110 commented on #301
I have added the required code for the issue #301 . Please review it and let me know any changes to be made @rcoder23.

[2021-04-25 16:25] ASLManasa commented on #360
@rcoder23 Sir, Can you Please check. Thank you.

[2021-04-25 19:51] Fatema110 opened #365 "Fast and Slow pointer Algorithm"
Problem: Given the head of a LinkedList with a cycle, find the length of the cycle.

Solution: We can use the above solution to find the cycle in the LinkedList.
Once the fast and slow pointers meet, we can save the slow pointer and iterate the whole cycle with another pointer until we see the slow pointer again to find the length of the cycle.

Time and Space Complexity:
The algorithm runs in O(N

[2021-04-26 03:23] #310 closed

[2021-04-26 03:31] rcoder23 commented on #347
You can work on it.

[2021-04-26 03:32] rcoder23 commented on #364
@anirudhsai20 You can work on it.

[2021-04-26 03:34] rcoder23 commented on #362
You can work on it.

[2021-04-26 03:34] #356 closed

[2021-04-26 06:11] soumik2012 opened #368 "Best Time to Buy and Sell Stock in python"
## 🚀 Feature

You are given an array prices where prices[i] is the price of a given stock on the ith day.
You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to
sell that stock.Return the maximum profit you can achieve from this transaction.
If you cannot achieve any profit, return 0.

### Have you read the [Contributing Guidelines

[2021-04-26 07:03] sayantani11 commented on #240
@rcoder23 please assign

[2021-04-26 07:03] sayantani11 commented on #328
@rcoder23 please assign

[2021-04-26 15:00] ShrutiOmer opened #370 "Isomorphic strings"
I want to add a program that take two string as input and tell whether they are isomorphic or not.
Two strings are isomorphic if all occurrences of a character must be replaced with another character while preserving the order of characters. No two characters may map to the same character, but a character may map to itself.
Ex:-fool  feet are isomorphic
      fool  fish  are not isomorphic
Please

[2021-04-27 12:37] #335 closed

[2021-04-28 02:56] #347 closed

[2021-04-28 03:00] rcoder23 commented on #360
@ASLManasa You can work on it.
Add solution with proper comments.

[2021-04-28 03:01] rcoder23 commented on #358
You can work on it. @ShrutiOmer

[2021-04-28 13:21] anirudhsai20 commented on #364
Hi, I am unable to make a separate PR for this issue as the solution for this issue was added as a commit under issue #307 .

[2021-04-29 15:02] soumik2012 opened #374 "Trapping Rain Water in Python"
## 🚀 Feature

Given an array arr[] of N non-negative integers representing the height of blocks. If the width of each block is 1, compute how much water can be trapped between the blocks during the rainy season

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

To contr

[2021-04-29 16:43] U-c0de opened #376 "Trimorphic Number"
Is your feature request related to a problem? Please describe.
The program will check whether the number input by the user is trimorphic or not.

Describe the solution you'd like
A number n is a trimorphic number if n^3 ends in n.

Do you want to work on it
I would like to work on this issue using Python as a GSSoC'21 participant .

Please assign it to me -  @rcoder23 @sayantani11

[2021-04-29 16:44] U-c0de commented on #376
Please assign me this issue...@rcoder23 @sayantani11

[2021-04-29 16:46] U-c0de opened #377 "Geekonacci Number"
Describe the solution you'd like
Geek created a random series and given a name geekonacci series. Given four integers A, B, C, N. A, B, C represents the first three numbers of geekonacci series. Find the Nth number of the series. The nth number of geekonacci series is a sum of the last three numbers (summation of N-1th, N-2th, and N-3th geekonacci numbers)

Do you want to work on it
Yes, I want to

[2021-04-29 18:17] kratimitra opened #378 "Get Max"
Hey,
I am Krati Mitra (Discord username Krati(P)#8709), a GSSOC'21 participant.
I want to add the code for the issue "Get Max".

Task:
Given two vectors A and B of length a and b respectively and an integer N . We have to make a maximum number of length N from the integers given in the two vectors A and B such that the relative order of the digits from the same vector should be retained

Output a

[2021-04-30 02:57] rcoder23 commented on #378
@kratimitra You can work on it.

[2021-04-30 02:58] rcoder23 commented on #378
Add solution in proper folder. Master-PyAlgo/Topic Wise Questions with Solutions/Array/

[2021-04-30 03:02] rcoder23 commented on #368
@soumik2012 Already present
**Master-PyAlgo/Algebra/best_time_to_buy_sell_stocks.py**
Make pull request after someone assign you issue .

[2021-04-30 03:17] #368 closed

[2021-04-30 03:57] debjitpal5040 opened #379 "Check if a number is prime or not"
I want to add the algorithm to determine whether any given number is prime or not. I am a GSSOC21 participant. Please assign this to me.

[2021-04-30 05:52] ASLManasa opened #380 "Double Ended Queue"
Complete Implementation of Double Endede Queue until the programmer wants to stop .I am a gssoc'21 participant kindly assign me this issue. @rcoder23  Thank you.

[2021-04-30 05:55] Prerna-07 opened #381 "Merge Sort A Linked List"
I am Prerna Chitransh, a GSSOC'21 participant.

Task :
MergeSort A linkedlist

Time Complexity : O(nlogn)

@rcoder23  Please Assign this issue to me

[2021-05-01 05:14] soumik2012 opened #382 "Maximum Product Subarray in python"
## 🚀 Feature

Given an array A[] that contains both positive and negative integers, find the maximum product subarray.

### Have you read the Contributing Guidelines on Pull Requests?

yes

## Motivation

To contributing in GSSOC'21

## Pitch

Input: A[] = { 6, -3, -10, 0, 2 }
Output: 180  // The subarray is {6, -3, -10}

Input: A[] = {-1, -3, -10, 0, 60 }
Output: 60  // The subarray is {60}

Inpu

[2021-05-01 05:23] soumik2012 commented on #374
@rcoder23 please check my PR

[2021-05-01 07:09] #195 closed

[2021-05-02 12:41] Prerna-07 commented on #381
@rcoder23  Please Assign this issue to me

[2021-05-03 03:12] #360 closed

[2021-05-03 08:31] rohanbabbar04 opened #385 "Majority Element"
A majority element in an array of size n is an element that appears more than n/2 times.

Do assign me this issue @rcoder23

[2021-05-03 08:31] rohanbabbar04 commented on #385
Do assign me this issue @rcoder23

[2021-05-03 15:21] Myself-Rohit-Dey opened #386 "Abbreviation of a person’s name"
**Task**
I want to add a program to show the "abriviation of a name" under the string directory.

**Example -**
Input: Avul Pakir Jainulabdeen Abdul Kalam
Output: A.P.J.A.K

I am a GSSOC21 participant. @rcoder23 @rashrey2308 please assign me this issue.

[2021-05-04 05:04] soumik2012 opened #387 "Next permutation in python"
## 🚀 Feature
Implement the next permutation, which rearranges numbers into the lexicographically next greater permutation of numbers. If such an arrangement is not possible, it must rearrange it as the lowest possible order (i.e., sorted in ascending order).
The replacement must be in place and use only constant extra memory.

### Have you read the Contributing Guidelines on Pull Requests?

Yes, I

[2021-05-04 06:31] debjitpal5040 commented on #379
@rcoder23 please check it

[2021-05-04 12:18] rcoder23 commented on #374
@soumik2012 Work on issue after some one assign you.

[2021-05-04 12:35] #374 closed

[2021-05-04 12:38] soumik2012 commented on #382
@rcoder23 please assign this issue  under gssoc'21

[2021-05-06 03:29] rcoder23 commented on #385
@rohanbabbar04 You can work on it.

[2021-05-06 03:30] rcoder23 commented on #381
@Prerna-07 You can work on it. And add solution in specific folder

[2021-05-06 03:31] rcoder23 commented on #380
@ASLManasa You can work on it.

[2021-05-06 03:34] #250 closed

[2021-05-06 03:51] Prerna-07 commented on #381
@rcoder23 ok sir

[2021-05-06 05:11] rohanbabbar04 opened #390 "Decagonal Number"
A decagonal number is a figurate number that extends the concept of triangular and square numbers to the decagon (a ten-sided polygon).

Do assign me this issue @rcoder23

[2021-05-06 06:44] rohanbabbar04 commented on #390
Do assign me this issue @rcoder23

[2021-05-06 07:07] soumik2012 commented on #387
@rcoder23  check this is an issue

[2021-05-06 12:19] Maskgirl opened #391 "Infix to postfix"
I want to write the program for converting infix to postfix .
Please sign this to me for the GSSoC'21 event

[2021-05-06 15:37] U-c0de commented on #377
Please Assign this issue to me

@rcoder23 @sayantani11

[2021-05-06 18:25] Aparna-Sakshi opened #393 "Find nth Fibonacci number using fast exponentiation - O(logn)"
Find nth Fibonacci number using fast exponentiation - O(logn)

I would like to implement this algorithm in python

I am a GSSOC-21 participant, please assign this issue to me.

[2021-05-07 04:24] U-c0de commented on #377
Please Assign this issue to me

@rcoder23 @sayantani11

[2021-05-07 04:26] U-c0de commented on #376
Please assign me this issue...@rcoder23 @sayantani11

[2021-05-07 04:30] U-c0de opened #394 "Rotation Count in Sorted Array"
Description of Problem:

In an given sorted array we will have to find the number of count of rotation after which we have got this array. Here, we take into observation the element I which is greater than the element i+1.after we get this element we calculate the number of rotation that might have occurred .

Please assign me this issue  @rcoder23 @sayantani11 @

[2021-05-07 04:33] rcoder23 commented on #391
@Maskgirl You can work on it.

[2021-05-07 04:42] rcoder23 commented on #376
@U-c0de You can work on it. Add solution in specific folder

[2021-05-07 04:50] rcoder23 commented on #390
@rohanbabbar04 You can work on it.

[2021-05-07 05:34] rohanbabbar04 opened #396 "Tribonacci Number"
It is a series of numbers where each term is the sum of the preceding 3 numbers of the sequence.
T(n) = T(n-1) + T(n-2) + T(n-3)

Do assign me this issue @rcoder23

[2021-05-07 07:11] #382 closed

[2021-05-07 07:11] #387 closed

[2021-05-07 07:12] soumik2012 opened #397 "Next permutation"
## 🚀 Feature
Implement the next permutation, which rearranges numbers into the lexicographically next greater permutation of numbers. If such an arrangement is not possible, it must rearrange it as the lowest possible order (i.e., sorted in ascending order).
The replacement must be in place and use only constant extra memory.

### Have you read the Contributing Guidelines on Pull Requests?

Yes, I

[2021-05-07 07:13] soumik2012 commented on #397
@rcoder23 please assign me this issue

[2021-05-07 07:15] soumik2012 opened #398 "Maximum Product Subarray"
## 🚀 Feature

Given an array A[] that contains both positive and negative integers, find the maximum product subarray.

### Have you read the Contributing Guidelines on Pull Requests?

yes

## Motivation

To contributing in GSSOC'21

## Pitch

Input: A[] = { 6, -3, -10, 0, 2 }
Output: 180  // The subarray is {6, -3, -10}

Input: A[] = {-1, -3, -10, 0, 60 }
Output: 60  // The subarray is {60}

Inpu

[2021-05-07 07:15] soumik2012 commented on #398
@rcoder23 please assign me the issue

[2021-05-07 07:19] U-c0de commented on #377
Please Assign this issue to me

@rcoder23 @sayantani11

[2021-05-09 04:20] #390 closed

[2021-05-09 06:02] Bhumika2409 opened #402 "Tarjan's Algorithm"
I would like to contribute code for Tarjan's Algorithm for Strongly connected components.

[2021-05-09 06:03] Bhumika2409 commented on #402
@rcoder23 please assign me this issue

[2021-05-09 07:18] soumik2012 commented on #397
@rcoder23 please assign me please

[2021-05-09 07:19] soumik2012 commented on #398
@rcoder23 please check my issue

[2021-05-09 09:58] anirudhsai20 commented on #364
Hi! Kindly check my PR.

[2021-05-09 10:01] anirudhsai20 commented on #283
Hi! Kindly check this PR.

[2021-05-10 03:34] rcoder23 commented on #364
@anirudhsai20 Create new Branch and then make pull request.

[2021-05-10 03:35] rcoder23 commented on #398
@soumik2012 You can work on it,

[2021-05-10 04:01] U-c0de commented on #377
@rcoder23 @sayantani11 Assign me this

[2021-05-10 04:02] U-c0de commented on #394
Please assign me this issue @rcoder23 @sayantani11

[2021-05-10 06:07] U-c0de opened #404 "Ackerman Function"
Ackerman Function

A(0,n) = n+1

A(m+1,0) =  A(m,1)

A(m+1,n+1) =  A(m,  A(m+1,n))

Assign ME this @rcoder23

[2021-05-10 07:00] srisatya1197 opened #405 "I want to add chinese remainder theorem in algebra directory."
@rashrey2308 @rcoder23 I want to add chinese remainder theorem I got the solution for this please assign me this issue. I'll make a pr by evening.

[2021-05-10 07:59] Srishti013 opened #406 "Count of rotation in a sorted array"
In this, we are given a sorted array of n elements which has been rotated clockwise k number of times. Here we will output the number of times the given array has been rotated i.e., k.

Example -
Input:
n = 6
a[] = {6, 5, 4, 1, 2, 3}
Output: 3
Explanation: Since the sorted array is rotated 3 times.

I am a participant in GSSoC 2021. Can I work on this issue under GSSoC 2021?

[2021-05-10 08:00] Srishti013 opened #407 "Swap all odd and even bits"
Swap all odd bits with even bits.

For example, if the given number is 23 (00010111), it should be converted to 43 (00101011).
Using Bit Manipulation
 I am a GSSOC participant. Can I work on this issue?

[2021-05-10 08:01] Srishti013 opened #408 "Counting Set Bits from 0 to N"
Given a number N find the sum of the count of set bits of all numbers from
0 to N (both inclusive).

I am a GSSOC participant. Can I work on this issue?

[2021-05-10 08:02] Srishti013 opened #409 "Remove duplicates in Linked List using Hashing"
An algorithm that removes duplicates from an unsorted linked list using hashing by reducing its time complexity.

I am a GSSOC participant. Can I work on this issue?

[2021-05-10 09:16] Manasi2001 opened #410 "Bitwise AND"
Given set S = {1,2,3,....,N), the aim is to find two integers, I and J (where I<J), from set S such that the value of I&J is the maximum possible and also less than a given integer, K. '&' represents bitwise AND operator.

Sample Test Case:
Input:
3
5 2
8 5
2 2
Output:
1
4
0

I'm a GSSoC'21 participant, would like to work on this.

[2021-05-10 09:19] Manasi2001 opened #411 "Binary Numbers"
Given a number N, the aim is to print an integer denoting the maximum number of consecutive 1s in its binary representation.

Sample Test Case:
Input:
5
Output:
1

I'm a GSSoC'21 participant, would like to work on this.

[2021-05-10 11:55] kashika0112 opened #412 "Add GetStairCase Paths using Recursion(GSSOC'21)"
I am a participant of GSSOC'21 and would like to contribute to this repository by adding the problem based on recursion-:

1. Display the different paths to reach the nth stair if 1, 2 or 3 jumps are allowed.

This problem will be added in a separate folder "Recursion".
The code will be clear and well-documented. Kindly assign this issue to me.

[2021-05-10 14:56] AmarKamalapuri opened #414 "Trie Data Structure"
I want to add Trie Data Structure in python in Data Structure Directory.

I am a GSSOC participant. Can u please assign this issue to me?
@Bayesian4042 @aaadddiii @BeAgarwal @vaishnavipatil29 @i-tick

[2021-05-11 04:06] U-c0de commented on #404
Assign ME this @rcoder23

Check the issue

[2021-05-11 10:10] Manasi2001 opened #415 "Palindrome Checker"
The aim is to analyze the entered word and output whether it is a palindrome or not.

Sample Test Case:
Input:
level
Output:
The word, level, is a palindrome.

I'm a GSSoC'21 participant, would like to work on this.

[2021-05-11 10:15] Manasi2001 opened #416 "Factorial Calculator"
The aim is to calculate and print out the factorial of the entered number.

Sample Test Case:
Input:
5
Output:
120

I'm a GSSoC'21 participant, would like to work on this.

[2021-05-11 11:13] Khushi-agarwal opened #417 "Special Number"
I want to add the code of special number. A number is special if the sum of the factorial of its digits is equal to the number itself.
Example-145
Please assign me this issue under GSSOC. @rcoder23

[2021-05-11 11:15] Khushi-agarwal opened #418 "Warshall Algorithm"
It is a graph based algorithm.
I want to add program for it.Please assign me this issue. @rcoder23

[2021-05-11 19:31] Khushi-agarwal opened #419 "To remove the kth index from a string ."
A program that will accept a string and if any character is present at kth index then it will remove that character and print the rest string.If the index given is more than the length then it will return the complete string.

Please assign me this issue. @rcoder23

[2021-05-12 07:53] #145 closed

[2021-05-12 15:21] Khushi-agarwal commented on #417
@rashrey2308 please assign me this issue.

[2021-05-13 05:07] rcoder23 commented on #419
@Khushi-agarwal You can work on it.

[2021-05-13 05:11] rcoder23 commented on #417
@Khushi-agarwal you can work on it.

[2021-05-13 05:27] rcoder23 commented on #396
@rohanbabbar04 you can work on it.

[2021-05-13 05:31] #385 closed

[2021-05-13 07:08] #379 closed

[2021-05-13 11:05] U-c0de commented on #404
Assign ME this @rcoder23

Check the issue

[2021-05-13 11:08] U-c0de opened #424 "XOR Cipher"
Description:
This in an implementation of XOR cipher in Python 3.8.
It can encrypt message with a given key and decrypt the message with top 5 possible plaintext.

@rcoder23 Please check the issue

[2021-05-13 11:09] U-c0de commented on #424
@rcoder23
Assign me this

[2021-05-13 17:40] rohanbabbar04 opened #426 "Josephus problem"
N people are standing in a circle waiting to be executed. The counting out begins at some point in the circle and proceeds around the circle in a fixed direction. A certain number of people are skipped and the next person is executed in each step. The elimination proceeds around the circle (which is becoming smaller and smaller as the executed people are removed), until only the last person remain

[2021-05-13 17:43] rohanbabbar04 opened #427 "Noble Integer"
An integer x is said to be Noble given an array if the number of integers greater than x is equal to x.
If there are many Noble integers, any of them is returned. If there is no noble integer, then return -1.

Plz assign me this issue @rcoder23

[2021-05-14 03:05] #396 closed

[2021-05-14 03:07] rcoder23 commented on #427
@rohanbabbar04 You can work on it.

[2021-05-14 03:09] rcoder23 commented on #410
@Manasi2001 You can work on it. add solution with proper explaination

[2021-05-14 03:18] rcoder23 commented on #386
@Myself-Rohit-Dey You can work on it.

[2021-05-14 06:27] Khushi-agarwal opened #428 "Trimorphic number"
A trimorphic number is a number such that the cube of the number have the same end digits as the number itself.
Example-5 as cube of 5 is 125 thus the last digit is 5.
I would like to work on it.Please assign me this issue.

[2021-05-14 08:21] rohanbabbar04 opened #430 "Neon Number"
A neon number is a number where the sum of digits of the square of the number is equal to the number.
Do assign me @rcoder23

[2021-05-14 08:22] rohanbabbar04 commented on #430
@rcoder23 Do assign me this issue.

[2021-05-14 12:47] soumik2012 commented on #397
@rcoder23  please check my PR

[2021-05-14 13:34] #405 closed

[2021-05-15 10:47] #381 closed

[2021-05-15 16:47] #430 closed

[2021-05-15 16:47] #426 closed

[2021-05-15 16:55] rohanbabbar04 opened #432 "Fenwick Tree"
Also, know as  the Binary Indexed Tree, very popular data structure
@rcoder23 Do assign me this issue

[2021-05-15 16:55] rohanbabbar04 opened #433 "Segment Tree"
@rcoder23 Do assign me this issue

[2021-05-16 04:20] #417 closed

[2021-05-16 04:22] rcoder23 commented on #433
@rohanbabbar04 you can work on it. After resolving previous one .

[2021-05-16 04:25] #427 closed

[2021-05-16 04:26] rcoder23 commented on #432
@rohanbabbar04 One issue at time

[2021-05-16 04:28] rcoder23 commented on #418
@Khushi-agarwal You can work on it.

[2021-05-16 06:21] U-c0de commented on #404
Assign ME this @rcoder23

Check the issue

[2021-05-16 06:34] U-c0de opened #434 "Burrows Wheeler transform Algorithm"
Description ->
Implement and add Burrows Wheeler transform algorithm in Python
Burrows Wheeler Transform(BWT): BWT is a string compression algorithm
that can be used to simply encrypt strings just by cyclic operations.
It is used in zip format files, Linux, Internet Protocols to even research.

Plz assign me this issue @rcoder23

[2021-05-16 06:38] U-c0de opened #435 "Refractor - Chinese Remainder Theorem"
Descriortion:

In number theory, the Chinese remainder theorem states that if one knows the remainders of the Euclidean division of an integer n by several integers, then one can determine uniquely the remainder of the division of n by the product of these integers, under the condition that the divisors are pairwise coprime.

@rcoder Assign me this issue

[2021-05-16 15:23] rcoder commented on #435
I received a notification about this comment. I'm not sure who you were hoping to reach but I'm pretty sure it wasn't me. (I don't have a role on this project.)

[2021-05-16 17:06] U-c0de commented on #435
@rcoder23  Assign me this

[2021-05-16 17:07] U-c0de commented on #435
Sorry it was a typo

[2021-05-17 03:07] #418 closed

[2021-05-17 03:34] #398 closed

[2021-05-17 03:35] soumik2012 commented on #397
@rcoder23 sir please assign me this issue

[2021-05-17 03:41] soumik2012 opened #439 "Minimize the Heights"
## 🚀 Feature

Given an array arr[] denoting heights of N towers and a positive integer K, you have to modify the height of each tower either by increasing or decreasing them by K only once. After modifying, height should be a non-negative integer.
Find out what could be the possible minimum difference of the height of shortest and longest towers after you have modified each tower.

### Have you re

[2021-05-17 03:43] soumik2012 commented on #439
@rashrey2308 @rcoder23 please  assgin me the issue

[2021-05-17 03:46] soumik2012 opened #440 "Count pairs with given sum in python"
## 🚀 Feature

Given an array of integers, and a number ‘sum’, find the number of pairs of integers in the array whose sum is equal to ‘sum’.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes

## Motivation

To contributing to gssoc'21

## Pitch

Input  :  arr[] = {1, 5, 7, -1},

[2021-05-17 03:47] soumik2012 commented on #440
@rashrey2308 @rcoder23 @Joshitha18 please assgin me the issue

[2021-05-17 03:48] soumik2012 commented on #397
@Joshitha18  @rashrey2308 please assgin me this issue

[2021-05-17 06:04] #410 closed

[2021-05-17 06:06] Manasi2001 commented on #411
@Joshitha18  please assign it to me. It's been a week now.

[2021-05-17 17:16] sameeksharl opened #441 "Implement Quicksort and mergesort in python"
@i-tick  @rcoder23 could You please assign this issue to me?

[2021-05-18 02:30] prakharshreyash15 commented on #440
Please assign me this issue @rashrey2308 @rcoder23 @Joshitha18

[2021-05-18 02:41] prakharshreyash15 commented on #441
Can you please assign me this issue? @rcoder23

[2021-05-18 03:23] #433 closed

[2021-05-18 03:24] rcoder23 commented on #440
@soumik2012 You can work on it

[2021-05-18 03:27] rcoder23 commented on #441
@sameeksharl You can work Quicksort .
@prakharshreyash15 You can work on MergeSort

[2021-05-18 06:25] Khushi-agarwal opened #445 "Count of perfect squares less than equal to a given number."
A python program which will return the count as well as the perfect square number which are less than or equal to a given number.

[2021-05-18 06:25] Khushi-agarwal commented on #445
@rashrey2308 @rcoder23 please assign me this issue.

[2021-05-18 17:16] sameeksharl opened #449 "Implement Backtracking in python"
@i-tick @rcoder23   I wanted to learn on this topic  ,,could you please assign this issue to me??

[2021-05-19 03:20] rcoder23 commented on #449
@sameeksharl Mention Complete question

[2021-05-19 03:43] rcoder23 commented on #432
@rohanbabbar04 You can work on it.

[2021-05-19 04:44] #440 closed

[2021-05-19 04:44] soumik2012 commented on #439
@rcoder23, please assign me the issue

[2021-05-19 04:45] soumik2012 commented on #397
@rcoder23 please assign me the issue

[2021-05-19 05:39] ASLManasa opened #450 "Terenary Search"
I am a gssoc'21 partcipant and  want to work on this kindly assign me this. Thank you @rcoder23 .

[2021-05-19 05:43] ASLManasa opened #451 "Longest Palindromic String"
problem : Given a string s, return the longest palindromic substring in s.

I am gssoc'21 partcipant . I want to work on this can you please assign me this. Thank you. @rcoder23 .

[2021-05-19 06:58] sameeksharl commented on #449
details
-i will try implementing N-Queens using backtracking

[2021-05-19 07:26] Manasi2001 opened #455 "Water Jug Problem"
I'm looking forward to creating a folder named 'Backtracking' under 'Topic Wise Questions with Solutions' and adding my complete code for solving 'Water Jug Problem' (a single py file) inside it. Please assign this to me @rcoder23.

[2021-05-19 07:29] Manasi2001 opened #456 "Tic Tac Toe Game"
I'm looking forward to creating a folder named 'Backtracking' under 'Topic Wise Questions with Solutions' and adding my complete code for 'Tic Tac Toe Game' (a single py file) inside it. Please assign this to me @rcoder23.

[2021-05-19 10:47] ShrutiOmer opened #458 "Maximum of minimum of all window size"
I want to add this program which finds maximum number from the minimum number of all windows in array.
Please assign this issue to me.

[2021-05-19 13:53] sameeksharl opened #459 "Find the minimum depth of a binary tree"
Details
-The minimum depth of a binary tree is the number of nodes from the root node to the nearest leaf node which will be implemented in python
@i-tick @rcoder23  Could you please assign this issue to me??

[2021-05-19 14:53] darpankhanna opened #460 "Relational Operators"
I'm looking forward to creating a folder named 'Chef and Operators' under 'Topic Wise Questions with Solutions' and adding my complete code in CodeChef for 'Relational Operators' (a single cp file) inside it.

[2021-05-19 14:53] darpankhanna commented on #460
Please assign this to me @rcoder23

[2021-05-19 17:05] Harikrishnan6336 commented on #281
@rashrey2308 Kindly assign this issue to me

[2021-05-20 07:53] Manasi2001 opened #462 "Min-Max-Sum"
Given five positive integers, the aim is to find the minimum and maximum values that can be calculated by summing exactly four of the five integers.

Example:
arr = [1,3,5,7,9]
The minimum sum is 1+3+5+7 = 16 and the maximum sum is 3+5+7+9 = 24. So, the output will be:
16 24

Please assign it to me @rcoder23.

[2021-05-20 13:26] soumik2012 commented on #439
@rcoder23  please assign me the issue

[2021-05-21 02:53] #432 closed

[2021-05-21 02:55] rcoder23 commented on #449
@sameeksharl You can work on it

[2021-05-21 02:56] #419 closed

[2021-05-21 03:02] rcoder23 commented on #415
@Manasi2001 Alredy present

[2021-05-21 04:37] Manasi2001 commented on #415
@rcoder only 2 programs sounding similar to this are present- 'Distinct-Palindromic-Substrings' and 'Longest-Palindromic-Substring', but the code(and the purpose of the code) is different. Mine could also be a different variation of the programs related to palindromes that are present in the list. Please can you review it again?

[2021-05-21 04:46] rohanbabbar04 opened #464 "More Data Structures"
@rcoder23
I would like to implement more data structures Do assign me this issue

[2021-05-21 10:59] Manasi2001 opened #465 "Table of a Number"
The aim is to build a program to print first 10 multiples of the number entered by user.

Sample Input:
3
Sample Output:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Please assign me the issue @rcoder23.

[2021-05-21 12:23] Manasi2001 opened #467 "Hourglass Sum"
Given a 6X6 2D Array, A:
1 1 1 0 0 0
0 1 0 0 0 0
1 1 1 0 0 0
0 0 0 0 0 0
0 0 0 0 0 0
0 0 0 0 0 0

An hourglass in A is a subset of values with indices falling in this pattern in A's graphical representation:
a b c
  d
e f g

There are 16 hourglasses in A, and an hourglass sum is the sum of an hourglass' values. Like here, the maximum hourglass sum is 7 for the hourglass in the top left corner.

Th

[2021-05-21 18:58] prakharshreyash15 commented on #441
@rcoder23 Can you please accept my pull request - Merge Sort Implementation?

[2021-05-22 03:55] sameeksharl commented on #441
Ya mine too @rcoder23  quicksort I have changed the requested changes and
by mistake I did a new pr pls accept that .

On Sat, 22 May 2021, 12:28 am Prakhar Shreyash, ***@***.***>
wrote:

[2021-05-22 04:08] rcoder23 commented on #464
@rohanbabbar04 name the specific data- structure you want to work ?

[2021-05-22 04:10] rcoder23 commented on #370
@ShrutiOmer You can work on it,

[2021-05-22 04:11] rcoder23 commented on #455
@Manasi2001 You can work on it.
Add solution with proper explaination and description of problem .

[2021-05-22 04:12] rcoder23 commented on #467
@Manasi2001 You can only work one issue at time .

Don't make pull request before assigning issue.

[2021-05-22 04:14] rcoder23 commented on #459
@sameeksharl You can work on one issue at time .
Complete previous issues.
#449 issue

[2021-05-22 04:31] rohanbabbar04 commented on #464
I will work on all in the last 10 days
Do assign me this issue

[2021-05-22 05:20] sameeksharl commented on #441
#452

On Sat, 22 May 2021, 9:25 am Sameeksha R L, ***@***.***> wrote:

[2021-05-22 05:46] Manasi2001 commented on #467
![image](https://user-images.githubusercontent.com/68627617/119215850-ebbd4f80-baed-11eb-8b59-35d7cdff7220.png)

@rcoder even after 12 days of opening the issue, if no one is assigning it to me (I also repeatedly requested for the same here and on Discord as well), then what else I'm I supposed to do? The program is about to end in a week and if it goes on like this, I'll hardly be able to make an

[2021-05-23 05:55] U-c0de opened #471 "Huffman Coding Algorithm"
Description of the problem
Given a set of symbols along with their frequencies, we will find a variable-length binary code that can be assigned to each and every symbol.
The main objective of this algorithm is to usually transmit information using the fewest number of bits in such a way that every encoding is unambiguous.

Assign this to me @rcoder23

[2021-05-23 06:01] U-c0de opened #472 "Stock Span Problem"
Is your feature request related to a problem? Please describe.
Stock Span Problem
Explanation : Stock span is defined as the number of days passed between the current day and the first day before today when price was higher than today.

Describe the solution you'd like
A simple and concise approach which is implemented using Stack, it is somewhat as finding max on the left.

@rcoder23 @i-tick Assi

[2021-05-23 06:16] U-c0de opened #473 "Brian Kernighan's algorithm"
This algorithm basically is as follow:-

When 1 is subtracted from any number then all the bits after rightmost bit having value 1(set bit) and including the right-most set bit itself gets flipped.

[2021-05-23 06:17] U-c0de commented on #473
@i-tick @rcoder23 assign me this

[2021-05-23 07:06] sameeksharl commented on #459
heyy @rcoder23 i have finished #449 could You pls assign this to me?? #459

[2021-05-23 11:00] rcoder23 commented on #464
@rohanbabbar04 Name all the data structure You are going to implement .

[2021-05-23 11:05] rohanbabbar04 commented on #464
Some are
AVL TREE
BEST FIT
circular linked lists(single double both)
First fit
Invert binary tree
And many more

[2021-05-23 11:07] rcoder23 commented on #464
@rohanbabbar04 You can work on it,

[2021-05-23 11:08] rcoder23 commented on #464
@rohanbabbar04 First check the data-structure is alredy present or not. If not then make PR.

Create spearate PR for one data-structure .So marks can be easily give for GSSOC21

[2021-05-23 11:08] rohanbabbar04 commented on #464
Thanks do assign me this issue

[2021-05-23 11:09] rohanbabbar04 commented on #464
Yes I'll do it @rcoder23

[2021-05-23 11:10] rohanbabbar04 commented on #464
Shouldn't data structures be labelled level 3

[2021-05-23 11:10] rcoder23 commented on #397
@soumik2012 You can work on it.

[2021-05-23 11:18] soumik2012 commented on #397
Okay @rcoder23

[2021-05-23 11:47] #465 closed

[2021-05-23 12:35] Khushi-agarwal commented on #445
@rcoder23 can you please assign me this issue.

[2021-05-24 05:20] soumik2012 commented on #439
@rcoder23 please check my issue

[2021-05-24 09:12] #464 closed

[2021-05-24 10:39] sameeksharl commented on #459
@rcoder23 could u pls assign this me now??

[2021-05-24 15:22] KajalSinghBAGHEL opened #479 "Update README.md"
remove grammatical mistakes

[2021-05-24 16:25] U-c0de commented on #471
Assign this to me @rcoder23

[2021-05-24 16:25] U-c0de commented on #472
Assign this to me @rcoder23

[2021-05-24 16:25] U-c0de commented on #473
@i-tick @rcoder23 assign me this

[2021-05-25 03:23] Khushi-agarwal opened #480 "Priority queue"
I want to add priority queue program.its a data structure.
@rcoder23 please assign me this issue.

[2021-05-25 12:49] soumik2012 commented on #439
@rcoder23 please check my Issue

[2021-05-25 14:57] #467 closed

[2021-05-25 15:14] Manasi2001 opened #481 "Maximum Difference"
From all the positive integers entered in a list, the aim of the program is to subtract any two integers such that the result/output is the maximum possible difference.

Sample Input:
3
1 2 5
Sample Output:
4

[2021-05-25 15:30] Manasi2001 opened #482 "Bad String"
Aim: Read a string, S and print its integer value. If S cannot be converted to an integer, print `Bad String`.

Sample Input 1:
3
Sample Output 1:
3
Sample Input 2:
SB
Sample Output 2:
Bad String

[2021-05-25 15:50] Manasi2001 opened #483 "Valid Powers"
Aim: Given two integers n and p, the goal is to output n^p if and only if n and p both are positive integers, else, print 'n and p should be non-negative'.

Sample Input:
-1 3
Sample Output:
n and p should be non-negative

[2021-05-26 16:31] robin025 opened #484 "adding implementaion of DP algorithms in python (bellman ford and Floyd Warshall)"
**Is your feature request related to a problem? Please describe.**
Hey rcoder23 I would like to add two major DP algorithms like Bellman Ford Algorithm, Floyd Warshall's Algorithm in python language

Do you want to work on it
Yes
I will implement this in python language

Kindly Assign me this under GSSOC 21
Thank you

[2021-05-26 16:35] robin025 opened #485 "Adding implementation of stack based programs using python"
**Is your feature request related to a problem? Please describe.**
Hey rcoder23 I would like to add two major programs which will work concept of stack (like infix to postfix and integer to binary conversion using stack) in Python language as the solution for the same is missing in the repo.

**Do you want to work on it**
Yes
I will implement this in python language

Kindly Assign me this under GS

[2021-05-26 16:38] robin025 opened #486 "adding all string matching algorithms"
**Is your feature request related to a problem? Please describe.**
Hey @rcoder23  I would like to add all string matching algorithms like Naive Method, Knuth–Morris–Pratt Method, Rabin Karp Method in python language

Do you want to work on it
Yes
I will implement this in python language

Kindly Assign me this under GSSOC 21
Thank you

[2021-05-26 16:39] robin025 opened #487 "Adding search algorithms in python language"
**Is your feature request related to a problem? Please describe.**
Hey @rcoder23  I would like to add searching algorithms like Fibonacci Search, Jump Search, Interpolation Search in python language

Do you want to work on it
Yes
I will implement this in python language

Kindly Assign me this under GSSOC 21
Thank you

[2021-05-26 16:46] robin025 opened #488 "adding greedy algorithms in python"
**Is your feature request related to a problem? Please describe.**
Hey @rcoder23  I would like to add all major greedy  algorithms like Fractional Knapsack
Huffman Coding, Activity Selection Problem, Egyptian Fraction in python language

**Do you want to work on it**
Yes
I will implement this in python language

Kindly Assign me this under GSSOC 21
Thank you

[2021-05-26 16:51] robin025 opened #489 "adding Recursion programs in python"
Is your feature request related to a problem? Please describe.
Hey @rcoder23 I would like to add all major greedy algorithms like
- Fibonacci
- Factorial
- Tower Of Hanoi
- Binary Search(Recursive) in python language

Do you want to work on it
Yes
I will implement this in python language

Kindly Assign me this under GSSOC 21
Thank you

[2021-05-26 16:54] robinsingh-ai opened #490 "adding Predecessor And Successor (BST based program) in python"
**Is your feature request related to a problem? Please describe.**
Hey @rcoder23 I would like to add Predecessor And Successor program  in python language

**Do you want to work on it**
Yes
I will implement this in python language

Kindly Assign me this under GSSOC 21
Thank you

[2021-05-26 16:55] robin025 opened #491 "adding Topological Sort"
**Is your feature request related to a problem? Please describe.**
Hey @rcoder23 I would like to add Topological Sort program in python language

Do you want to work on it
Yes
I will implement this in python language

Kindly Assign me this under GSSOC 21
Thank you

[2021-05-27 03:12] soumik2012 commented on #439
@rcoder23 please assign me the issue

[2021-05-27 04:18] rcoder23 commented on #488
@robin025 you can work on it

[2021-05-27 04:18] rcoder23 commented on #488
Make separate PR for one program

[2021-05-27 04:19] rcoder23 commented on #480
@Khushi-agarwal you can work on it

[2021-05-27 04:23] robin025 commented on #488
Ok @rcoder23

[2021-05-27 04:58] soumik2012 opened #492 "Triplet Sum in Array"
## 🚀 Feature

Given an array arr and an integer k.Find if there's a triplet in the array which sums up to the given integer k

### Have you read the Contributing Guidelines on Pull Requests?

Yes, I have read it.

## Motivation

To contributing in the Gssoc'21

## Pitch

Input:
k = 13
[1 4 45 6 10 8]

Output:
[(1, 4, 8)]

Explanation:
The triplet {1, 4, 8} in
the array sums up to 13.

[2021-05-27 05:02] soumik2012 opened #493 "Climbing the Leaderboard"
## 🚀 Feature

An arcade game player wants to climb to the top of the leaderboard and track their ranking. The game uses Dense Ranking, so its leaderboard works like this:

The player with the highest score is ranked number on the leaderboard.
Players who have equal scores receive the same ranking number, and the next player(s) receive the immediately following ranking number.
Example

The ranked p

[2021-05-27 05:03] soumik2012 commented on #493
@rcoder23, please assign me the issue

[2021-05-27 05:46] #415 closed

[2021-05-27 06:55] sameeksharl commented on #459
@rcoder could u pls assign this to me?? i will finish and make pr  within 12hrs

[2021-05-27 07:13] Manasi2001 opened #502 "Divisor Sum"
The aim is to calculate the sum of all the divisors of the entered number and display it.

[2021-05-27 07:26] U-c0de opened #503 "Right Side View of Binary Tree"
Implementation of Right Side View of Binary Tree
an important algorithm..

Assign this to me @i-tick @rcoder23

[2021-05-27 07:31] Manasi2001 opened #504 "Sorting Array (Without using Functions)"
The aim is to sort the entered array without using inbuilt functions.

[2021-05-27 08:04] Manasi2001 opened #505 "Height of BST"
Aim: To form a Binary Search Tree of the integers entered and display its height.

[2021-05-27 08:28] Manasi2001 opened #506 "Level Order Traversal of BST"
Aim: To perform level-order traversal on a BST.

[2021-05-27 10:38] Manasi2001 opened #509 "Removing Duplicates from Linked List"
Aim: Remove duplicate nodes from the entered linked list.

[2021-05-27 16:43] Manasi2001 opened #510 "Addition of Machine Learning Projects"
@rcoder23 as the name of the project has 'PyAlgo' in it, I think we should definitely have ML projects(built using multiple algorithms like regression, classification, clustering, etc.) written in python as well. An another folder named 'Machine Learning' could be created and in that ipynb files could be added.
I've also built some projects like Solar Radiation Prediction, Flight Delay Prediction,

[2021-05-28 08:37] U-c0de opened #514 "Left Side View of Binary Tree"
Implementation of Left Side View of Binary Tree
an important algorithm..

Assign this to me @i-tick @rcoder23

[2021-05-28 14:32] #397 closed

[2021-05-29 07:15] sameeksharl commented on #459
@rcoder23 could u pls assign this to me??

[2021-05-29 09:34] #480 closed

[2021-05-29 09:39] #488 closed

[2021-05-29 09:44] rcoder23 commented on #459
@sameeksharl You can work on it,

[2021-05-29 09:52] rcoder23 commented on #510
@Manasi2001 It is good idea to add Machine Learning Algorithms here.
But i am mentor of this project . I can't make changes in this project .

Project Maintainer can do it.

[2021-05-29 09:52] #510 closed

[2021-05-29 09:55] #358 closed

[2021-05-29 17:41] Manasi2001 opened #517 "Leap Year Checker"
Aim: To check if the entered year is a leap year or not.

[2021-05-29 17:42] Manasi2001 opened #518 "Prime Numbers"
Aim: To check if the entered numbers are prime or not.

[2021-05-29 17:43] Manasi2001 opened #519 "Mutating a String"
Aim: To replace a character at a particular position in the string by the character entered by the user.

[2021-05-29 17:45] Manasi2001 opened #520 "Square of Numbers"
Aim: For the given integer 'n', print 'i^2' such that 'i' is a non-negative integer less than 'n'.

[2021-05-29 17:46] Manasi2001 opened #521 "Substring Extractor"
Aim: Consider a database table, Emails, which has the attributes First Name and Email ID. Given N rows of data simulating the Emails table, print an alphabetically-ordered list of people whose email address ends in '@gmail.com'.

Sample Input:
6
riya riya@gmail.com
julia julia@julia.me
julia sjulia@gmail.com
samantha samantha@gmail.com
tanya tanya@gmail.com
julia julia@gmail.com

Sample Output:
ju

[2021-05-29 17:50] Manasi2001 opened #522 "Swap Case"
Aim: To swap cases of all the characters in the entered string.

Sample Input:
GooD DaY

Sample Output:
gOOd dAy

[2021-05-29 19:14] robin025 commented on #491
@rcoder23  assign me this issue if its available

[2021-05-29 19:15] robin025 commented on #490
hey @rcoder23  assign  me this issue if its available

[2021-05-29 19:15] robin025 commented on #489
hey @rcoder23  assign  me this issue if its available

[2021-05-29 19:16] robin025 commented on #487
hey @rcoder23  assign  me this issue if its available

[2021-05-29 19:16] robin025 commented on #486
hey @rcoder23  assign  me this issue if its available

[2021-05-29 19:16] robin025 commented on #485
hey @rcoder23  assign  me this issue if its available

[2021-05-29 19:16] robin025 commented on #484
hey @rcoder23  assign  me this issue if its available

[2021-05-30 05:47] U-c0de commented on #503
Assign this to me @i-tick @rcoder23

[2021-05-30 05:58] Sri-vishnu-r1431 opened #524 "Perfect number in Python"
Python program to check where the given number is a perfect number or not

sample input:
Enter a number to check whether its perfect or not:6

sample output:
The given number is a perfect number

[2021-05-30 07:33] Sri-vishnu-r1431 opened #526 "Happy Number in Python"
Aim:To check perfect number in Python

Sample Input:
82

Sample Output:
the given number  is a happy number

[2021-05-30 09:59] prathimacode-hub opened #528 "Implementing ternary search algorithm in python"
Details

- I will be implementing ternary search algorithm in python which is similar to binary search but has two search points.
- I will elaborate it with - program, comments, test cases and time complexity briefly.

@i-tick @rcoder23 Could you please assign this issue to me under GSSOC label?? Thank You.

[2021-05-31 04:43] Komal-99 commented on #517
hi i am gssoc participant would like to work over this issue

[2021-05-31 04:44] Komal-99 commented on #520
Hi , I am gssoc'21 participant and would like to work over this issue

[2021-05-31 04:47] Khushi-agarwal opened #536 "List sort on the basis of tuple"
A program  which will arrange a list in ascending order on the basis of the last element in each tuple from a given list.

[2021-05-31 04:54] #428 closed

[2021-05-31 04:57] Khushi-agarwal opened #538 "Occurrence of x in a given sequence"
A program that returns a boolean value depending upon the occurrence of an integer x in the given sequence.If the number of
occurrences of x are atmost k,which is another integer,then it return true else false

[2021-05-31 06:48] sameeksharl commented on #459
Completed and made pr pls do review   From: Rohit SrivastavaSent: 29 May 2021 15:14To: Developer-Student-Clubs-VSSUT-Burla/Master-PyAlgoCc: sameeksharl; AssignSubject: Re: [Developer-Student-Clubs-VSSUT-Burla/Master-PyAlgo] Find the minimum depth of a binary tree (#459) Assigned #459 to @sameeksharl.—You are receiving this because you were assigned.Reply to this email directly, view it on GitHub,

[2021-05-31 08:07] soumik2012 opened #542 "Maze-Generation Solver"
## 💥 Proposal

This uses the depth-first search algorithm of maze generation implemented with recursive backtracking, Visualiser for backtracking algorithm to solve the maze.

### Have you read the [Contributing Guidelines on Pull Requests](https://github.com/TesseractCoding/NeoAlgo/blob/master/CONTRIBUTING.md#reporting-new-issues)?

Yes, I have read.

[2021-05-31 08:43] Manasi2001 opened #544 "Average Calculator"
Aim: To calculate average of all the distinct integers.

[2021-05-31 08:44] soumik2012 opened #546 "Best Time to Buy and Sell Stock twice"
## 🚀 Feature

You are given an array prices where prices[i] is the price of a given stock on the ith day.
You want to maximize your profit by choosing a single day to buy one stock and choosing a different day in the future to
sell that stock.Return the maximum profit you can achieve from this transaction.
If you cannot achieve any profit, return 0.

### Have you read the Contributing Guidelines o

[2021-05-31 08:47] Manasi2001 opened #547 "Capitalizing"
Aim: To replace the first character of all the words with their upper case characters.

[2021-05-31 08:50] Manasi2001 opened #550 "Polynomial Verification"
Aim: Given a polynomial P of a single indeterminate (or variable), x. Also, given the values of x and k. The task is to verify if P(x) = k.

[2021-05-31 08:53] Manasi2001 opened #552 "Set Addition"
Aim: To output the total number of distinct inputs on a single line.

I'll use sets here. An element will only get added in a set if it's not already present. Using this idea, we can have all distinct inputs in the end.

[2021-05-31 08:56] Manasi2001 opened #554 "Set Union"
Aim: To find the total number of elements in the union of the entered sets.

[2021-05-31 09:01] Manasi2001 opened #556 "String Formatting"
Aim: Given an integer, n, print the following values for each integer i from 1 to n:
1. Decimal
2. Octal
3. Hexadecimal (capitalized)
4. Binary

[2021-05-31 09:04] Manasi2001 opened #558 "Substring Locator"
Aim: To locate the position of the entered substring in the main string and output the result.

[2021-05-31 09:07] Manasi2001 opened #560 "Symmetric Difference"
Aim: To print the symmetric difference of two sets in ascending order.

[2021-05-31 09:09] Manasi2001 opened #562 "Text Wrap"
Aim: Given a string 's' and width 'w', the task is to wrap the string into a paragraph of width 'w'.

[2021-05-31 09:25] Manasi2001 opened #564 "Cryptarithmetic Problem"
The aim is to solve the cryptarithmetic problem SEND MORE MONEY using backtracking in python.

[2021-05-31 13:45] Manasi2001 opened #566 "8 Puzzle Problem using A* Algorithm"
I would like to add the code for solving 8 Puzzle Problem using 'A* Algorithm'.

[2021-05-31 13:50] Manasi2001 opened #568 "8 Puzzle Problem using BFS"
I'll add the code for solving 8 Puzzle Problem using 'Breadth First Search'.

[2021-05-31 13:53] Manasi2001 opened #570 "Breadth First Search"
I'll add the code for 'Breadth First Search' algorithm.

[2021-05-31 13:56] Manasi2001 opened #572 "Depth First Search"
I'll add the code for 'Depth First Search' algorithm.

[2021-05-31 13:59] Manasi2001 opened #574 "Unsort String"
Aim: The task is to sort the string S in the following manner:

1. All sorted lowercase letters are ahead of uppercase letters.
2. All sorted uppercase letters are ahead of digits.
3. All sorted odd digits are ahead of sorted even digits.

[2021-05-31 14:02] Manasi2001 opened #576 "Valid Regex"
Aim: Given a string S.The task is to find out whether S is a valid regex or not.

A RegEx, or Regular Expression, is a sequence of characters that forms a search
pattern. RegEx can be used to check if a string contains the specified search pattern.

[2021-05-31 14:07] Manasi2001 opened #578 "Word Score"
Aim: The score of a single word is 2 if the word contains an even number of
vowels. Otherwise, the score of this word is 1. The score for the whole list
of words is the sum of scores of all words in the list. The aim is to output
this score for the entered string.

[2021-05-31 14:11] Manasi2001 opened #580 "Graph Coloring Problem"
Aim: Given an undirected graph and an integer M. The task is to determine if
     the graph can be colored with at most M colors such that no two adjacent
     vertices of the graph are colored with the same color.

[2021-05-31 14:14] Manasi2001 opened #582 "Hamiltonian Cycle"
Hamiltonian Path: a Hamiltonian path (or traceable path) is a path
    in an undirected or directed graph that visits each vertex exactly
    once. A Hamiltonian cycle (or Hamiltonian circuit) is a Hamiltonian
    path that is a cycle.
Aim: To determine the existance of a Hamiltonian Cycle in the provided
        undirected graph and return the path if such path exist.
        The nodes are number

[2021-05-31 14:18] Manasi2001 opened #584 "Knight's Tour"
Aim: To check whether it is possible for a Knight to visit each
         cell of the N*N chessboard without visiting any cell
         twice starting from (X, Y) position.

[2021-05-31 14:20] Manasi2001 opened #586 "N-Queens"
Aim: To place N queens in a N*N Chessboard such that no two queens
     attack each other. A queen is said to be attacked by another queen
     if they share same diagonal(right/left), Row or Column.

[2021-05-31 14:24] Manasi2001 opened #588 "Subset Sum"
Aim: From a list of integers, check and return a set of integers whose sum
     will be equal to the target value K.

[2021-05-31 14:27] Manasi2001 opened #590 "Sudoku Game Solving"
Aim: Given a 9*9 sudoku board, in which some entries are filled and others are 0
    (0 indicates that the cell is empty), you need to find out whether the Sudoku
    puzzle can be solved or not i.e. return true or false.

[2021-05-31 18:16] Sri-vishnu-r1431 opened #592 "JumpSearch"
Aim: To implement Jump Search in python

Sample Output:
Enter number to be searched:2
Element not found in list
Enter number to be searched:13
Element found at index: 4

[2021-06-01 03:06] #445 closed

[2021-06-01 03:17] #492 closed

[2021-06-01 03:29] #546 closed

[2021-06-01 07:10] #586 closed

[2021-06-01 07:10] #588 closed

[2021-06-01 07:11] #590 closed

[2021-06-01 09:30] U-c0de opened #594 "Bipartite Graph (DSA)"
Add program to check if a given graph is Bipartite.

Assign me @rcoder23

[2021-06-02 05:33] sameeksharl commented on #459
pls do review this pr @rcoder23

[2021-06-03 12:02] TechSpiritSS opened #596 "Insertion Sort"
There is no Insertion Sort Code in Sorting

[2021-06-03 12:02] TechSpiritSS commented on #596
/assign

[2021-06-04 13:07] #493 closed

[2021-06-06 04:21] #27 closed

[2021-06-08 04:39] #584 closed

[2021-06-08 04:39] #582 closed

[2021-06-08 04:40] #570 closed

[2021-06-08 04:40] #562 closed

[2021-06-09 00:32] #592 closed

[2021-06-09 00:32] #526 closed

[2021-06-09 00:32] #524 closed

[2021-06-09 03:24] #439 closed

[2021-06-09 18:01] #538 closed

[2021-06-09 18:01] #536 closed

[2021-07-12 14:10] PrabodhBadwaik27 commented on #578
Hi, I would like to work on this issue.

[2021-07-23 11:54] #239 closed

[2021-07-23 11:54] #240 closed

[2021-07-23 11:54] #269 closed

[2021-07-23 11:54] #328 closed

[2021-08-10 04:16] Sin-Sumit commented on #596
Can I add the Insertion Sort?

[2021-08-10 04:17] Sin-Sumit commented on #596
If yes, please assign it to me.

[2021-09-08 04:02] #572 closed

[2021-09-08 04:03] #594 closed

[2021-09-08 04:03] #578 closed

[2021-09-08 04:04] #576 closed

[2021-09-08 04:04] #568 closed

[2021-09-08 04:04] #558 closed

[2021-09-08 04:04] #552 closed

[2021-09-08 04:05] #522 closed

[2021-09-08 04:05] #596 closed

[2021-09-08 04:06] #580 closed

[2021-09-08 04:06] #560 closed

[2021-09-08 04:07] #517 closed

[2021-09-09 10:04] #486 closed

[2021-09-09 10:04] #550 closed

[2021-09-09 10:05] #528 closed

[2021-09-09 10:06] #483 closed

[2021-09-09 10:06] #481 closed